doctype html
html.loading(lang='en', data-textdirection='ltr')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
		meta(name='description', content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
		meta(name='keywords', content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
		meta(name='author', content='PIXINVENT')
		title
			| Consignment Asset list
		link(rel='apple-touch-icon', href='/assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='/assets/images/ico/favicon.ico')
		link(href='/assets/css/fonts.css', rel='stylesheet')
		link(href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css', rel='stylesheet')
		// BEGIN VENDOR CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/vendors.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/vertical-menu-modern.css')

		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/weather-icons/climacons.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/meteocons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/morris.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/chartist.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/chartist-plugin-tooltip.css')
		// END VENDOR CSS
		// BEGIN MODERN CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
		// END MODERN CSS
		// BEGIN Page Level CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/horizontal-menu.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/simple-line-icons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/timeline.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-callout.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/dashboard-ecommerce.min.css')
		link(rel='stylesheet', type='text/css' href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/gallery.min.css')


		// END Page Level CSS
		// BEGIN Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style.css')
		// END Custom CSS
		style.
			.card .card-body:before {
				font-family: fontawesome;
				font-size: 10rem;
				color: rgba(255,255,255,.15);
				position: absolute;
				bottom: -32px;
				right: 0;
			}
			.sales::before {
				content: "\f0d6";
			}
			.consignment::before {
				content: "\f07a";
			}
			.form-control:disabled, .form-control[readonly], .input-group-addon {
				background-color: transparent;
				border: none! important;
				font-family: Quicksand,Georgia,'Times New Roman',Times,serif;
			}
			.pull-up{
				z-index: 0 !important;
			}
			@media print {
				html {
					visibility: hidden;
				}
				.myDivToPrint, .myDivToPrint * {
					visibility: visible;
				}
				.myDivToPrint {
					background-color: white;
					height: 100%;
					width: 100%;
					position: fixed;
					top: 0;
					left: 0;
					margin: 0;
					padding: 15px;
				}
				#print{
					visibility: hidden;					
				}
				html body{
					background-color: white;
				}
				}
	body.vertical-layout.vertical-menu-modern.2-columns.menu-expanded.fixed-navbar(data-open='click', data-menu='vertical-menu-modern', data-col='2-columns')
		// fixed-top
		nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.fixed-top.navbar-shadow.navbar-semi-light.bg-gradient-x-blue
			.navbar-wrapper
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mobile-menu.d-md-none.mr-auto
							a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
								i.ft-menu.font-large-1
						li.nav-item.mr-auto
							a.navbar-brand(href='index.html')
								img.brand-logo(alt='modern admin logo', src='/assets/images/logo/logo.png')
								h3.brand-text AMSOB
						li.nav-item.d-none.d-md-block.float-right
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.toggle-icon.ft-toggle-right.font-medium-3.white(data-ticon='ft-toggle-right')
						li.nav-item.d-md-none
							a.nav-link.open-navbar-container(data-toggle='collapse', data-target='#navbar-mobile')
								i.la.la-ellipsis-v
				.navbar-container.content
					#navbar-mobile.collapse.navbar-collapse
						ul.nav.navbar-nav.mr-auto.float-left
							li.nav-item.d-none.d-md-block
								a.nav-link.nav-link-expand(href='#')
									i.ficon.ft-maximize
							li.dropdown.nav-item.mega-dropdown
								a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown') Mega
								ul.mega-dropdown-menu.dropdown-menu.row
									li.col-md-2
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-newspaper-o
											|  News
										#mega-menu-carousel-example
											div
												img.rounded.img-fluid.mb-1(src='/assets/images/slider/slider-2.png', alt='First slide')
												a.news-title.mb-0(href='#') Poster Frame PSD
												p.news-content
													span.font-small-2 January 26, 2018
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-random
											|  Drill down menu
										ul.drilldown-menu
											li.menu-list
												ul
													li
														a.dropdown-item(href='layout-2-columns.html')
															i.ft-file
															|  Page layouts & Templates
													li
														a(href='#')
															i.ft-align-left
															|  Multi level menu
														ul
															li
																a.dropdown-item(href='#')
																	i.la.la-bookmark-o
																	|   Second level
															li
																a(href='#')
																	i.la.la-lemon-o
																	|  Second level menu
																ul
																	li
																		a.dropdown-item(href='#')
																			i.la.la-heart-o
																			|   Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-file-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-trash-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-clock-o
																			|  Third level
															li
																a.dropdown-item(href='#')
																	i.la.la-hdd-o
																	|  Second level, third link
															li
																a.dropdown-item(href='#')
																	i.la.la-floppy-o
																	|  Second level, fourth link
													li
														a.dropdown-item(href='color-palette-primary.html')
															i.ft-camera
															|  Color palette system
													li
														a.dropdown-item(href='sk-2-columns.html')
															i.ft-edit
															|  Page starter kit
													li
														a.dropdown-item(href='changelog.html')
															i.ft-minimize-2
															|  Change log
													li
														a.dropdown-item(href='https://pixinvent.ticksy.com/')
															i.la.la-life-ring
															|  Customer support center
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-list-ul
											|  Accordion
										#accordionWrap(role='tablist', aria-multiselectable='true')
											.card.border-0.box-shadow-0.collapse-icon.accordion-icon-rotate
												#headingOne.card-header.p-0.pb-2.border-0(role='tab')
													a(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionOne', aria-expanded='true', aria-controls='accordionOne') Accordion Item #1
												#accordionOne.card-collapse.collapse.show(role='tabpanel', aria-labelledby='headingOne', aria-expanded='true')
													.card-content
														p.accordion-text.text-small-3
															| Caramels dessert chocolate cake pastry jujubes bonbon.
															| Jelly wafer jelly beans. Caramels chocolate cake liquorice
															| cake wafer jelly beans croissant apple pie.
												#headingTwo.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionTwo', aria-expanded='false', aria-controls='accordionTwo') Accordion Item #2
												#accordionTwo.card-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo', aria-expanded='false')
													.card-content
														p.accordion-text
															| Sugar plum bear claw oat cake chocolate jelly tiramisu
															| dessert pie. Tiramisu macaroon muffin jelly marshmallow
															| cake. Pastry oat cake chupa chups.
												#headingThree.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionThree', aria-expanded='false', aria-controls='accordionThree') Accordion Item #3
												#accordionThree.card-collapse.collapse(role='tabpanel', aria-labelledby='headingThree', aria-expanded='false')
													.card-content
														p.accordion-text
															| Candy cupcake sugar plum oat cake wafer marzipan jujubes
															| lollipop macaroon. Cake dragée jujubes donut chocolate
															| bar chocolate cake cupcake chocolate topping.
									li.col-md-4
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-envelope-o
											|  Contact Us
										form.form.form-horizontal
											.form-body
												.form-group.row
													label.col-sm-3.form-control-label(for='inputName1') Name
													.col-sm-9
														.position-relative.has-icon-left
															input#inputName1.form-control(type='text', placeholder='John Doe')
															.form-control-position.pl-1
																i.la.la-user
												.form-group.row
													label.col-sm-3.form-control-label(for='inputEmail1') Email
													.col-sm-9
														.position-relative.has-icon-left
															input#inputEmail1.form-control(type='email', placeholder='john@example.com')
															.form-control-position.pl-1
																i.la.la-envelope-o
												.form-group.row
													label.col-sm-3.form-control-label(for='inputMessage1') Message
													.col-sm-9
														.position-relative.has-icon-left
															textarea#inputMessage1.form-control(rows='2', placeholder='Simple Textarea')
															.form-control-position.pl-1
																i.la.la-commenting-o
												.row
													.col-sm-12.mb-1
														button.btn.btn-info.float-right(type='button')
															i.la.la-paper-plane-o
															|  Send
							li.nav-item.nav-search
								a.nav-link.nav-link-search(href='#')
									i.ficon.ft-search
								.search-input
									input.input(type='text', placeholder='Explore Modern...')
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									span.mr-1
										| Hello,
										span.user-name.text-bold-700 #{user.strEmployeeFirstName} #{user.strEmployeeLastName}
									span.avatar.avatar-online
										img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
										i
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='#')
										i.ft-user
										|  Edit Profile
									a.dropdown-item(href='#')
										i.ft-mail
										|  My Inbox
									a.dropdown-item(href='#')
										i.ft-check-square
										|  Task
									a.dropdown-item(href='#')
										i.ft-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='/logout')
										i.ft-power
										|  Logout
							li.dropdown.dropdown-language.nav-item
								a#dropdown-flag.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-ph
									span.selected-language
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-ph
										|  English
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-cn
										|  Chinese
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-de
										|  German
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-bell
									span.badge.badge-pill.badge-default.badge-danger.badge-default.badge-up.badge-glow#numberNotif 
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Notifications
									li.scrollable-container.media-list.w-100#notificationField
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-mail              
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Messages
										span.notification-tag.badge.badge-default.badge-warning.float-right.m-0 4 New
									li.scrollable-container.media-list.w-100
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
														i
												.media-body
													h6.media-heading Margaret Govan
													p.notification-text.font-small-3.text-muted I like your portfolio, let's start.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-busy.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-2.png', alt='avatar')
														i
												.media-body
													h6.media-heading Bret Lezama
													p.notification-text.font-small-3.text-muted I have seen your work, there is
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-3.png', alt='avatar')
														i
												.media-body
													h6.media-heading Carie Berra
													p.notification-text.font-small-3.text-muted Can we have call in this week ?
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-away.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-6.png', alt='avatar')
														i
												.media-body
													h6.media-heading Eric Alsobrook
													p.notification-text.font-small-3.text-muted We have project party this saturday.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all messages
		// ////////////////////////////////////////////////////////////////////////////
		.main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow(data-scroll-to-active='true')
			.main-menu-content
				ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
					li.nav-item
						a(href='/')
							i.fa.fa-dashboard
							span.menu-title Dashboard
					li.nav-item
						a(href='#')
							i.fa.fa-wrench
							span.menu-title Maintenance
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor
									li
										a.menu-item(href='/consignment/maintenance', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignment
									li
										a.menu-item(href='/bundle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bundle
									li
										a.menu-item(href='/assets', data-i18n='nav.menu_levels.second_level_child.third_level_child') Assets
									li
										a.menu-item(href='/inventory', data-i18n='nav.menu_levels.second_level_child.third_level_child') Inventory
									li
										a.menu-item(href='/lostanddamage', data-i18n='nav.menu_levels.second_level_child.third_level_child') Lost and Damage
									li
										a.menu-item(href='/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidders
									li
										a.menu-item(href='/auction', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Schedule
									li
										a.menu-item(href='/maintenance/auctionresults', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Results
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') User Management
								ul.menu-content
									li
										a.menu-item(href='/uom', data-i18n='nav.menu_levels.second_level_child.third_level_child') Unit of Measurement
									li
										a.menu-item(href='/idtypes', data-i18n='nav.menu_levels.second_level_child.third_level_child') ID Types
									li
										a.menu-item(href='/jobtitle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Job Title
									li
										a.menu-item(href='/employee', data-i18n='nav.menu_levels.second_level_child.third_level_child') Employee
					li.nav-item
						a(href='javascript:void(0)')
							i.fa.fa-handshake-o
							span.menu-title Transaction
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/evaluation/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor Evaluation
									li
										a.menu-item(href='/consignment', data-i18n='nav.menu_levels.second_level_child.third_level_child') Asset Receiving
									li
										a.menu-item(href='/consignor/auctionresult', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignor Payment
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Online Bidding
								ul.menu-content
									li
										a.menu-item(href='/evaluation/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Bidder Evaluation
									li
										a.menu-item(href='/verify/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidder Verification
									li
										a.menu-item(href='/awards', data-i18n='nav.menu_levels.second_level_child.third_level_child') Awards
									li
										a.menu-item(href='/delivery', data-i18n='nav.menu_levels.second_level_child.third_level_child') Delivery
					li.nav-item
						a(href='/queries')
							i.fa.fa-list
							span.menu-title Queries
					li.nav-item
						a(href='/reports/sales')
							i.fa.fa-line-chart
							span.menu-title Reports
					li.nav-item
						a(href='/utilities')
							i.fa.fa-cogs
							span.menu-title Utilities
		.app-content.content
			.content-wrapper
				.content-header.row
					.content-header-left.col-md-6.col-12.mb-2.breadcrumb-new
						h3.content-header-title.mb-0.d-inline-block Asset List
						.row.breadcrumbs-top.d-inline-block
							.breadcrumb-wrapper.col-12
								ol.breadcrumb
									li.breadcrumb-item.active
										| Asset List
									
				.content-body
					section.row
						.col-12
							.card
								.card-head
									.card-header
										.grid-hover.row
											.col-md-12.col-12
												figure.effect-dexter(style='max-width: none;')
													img(src='/assets/images/asset receive.jpg', alt='img19')
													figcaption
														h2
															| Asset 
															span List
														p
															| Dexter had his own strange way. You could watch him training
															| ants.
														a(href='#') View more
										.row
											.col-md-6 
												h4.card-title Asset List
											.col-md-6
												.text-right
													a#print.btn.btn-info.btn-sma(type='button' href="javascript:window.print()")
														i.la.la-print
														|  Print
								.card-content
									.card-body
										// Task List table
										.table-responsive
											#invoice-customer-details.row.pt-2
												.col-md-6.col-sm-12.text-center.text-md-left
													h3.text-muted Consignor ID: 
														span 
															h4.red #{consignor.intConsignorID}
													ul.px-0.list-unstyled
														li.text-bold-800 #{consignor.strName}
														li #{consignor.strPhone}
														li #{consignor.strAddress}
												.col-md-6.col-sm-12.text-center.text-md-right
													ul.px-0.list-unstyled
														br
													p
														span.text-muted Date Created:
														|  #{asset[0].datDateCreated}
													p
														span.text-muted Date Received:
														|  #{asset[0].datDateReceived}
													p
														span.text-muted Status: 
															span.btn.btn-sm.btn-outline-success.round Received
										
																		
												
											.row
												.table-responsive.col-sm-12
													table.table
														thead
															tr
																th Quantity
																th Unit of Measurement
																th Category
																th Description
																th Condition
																th Price
																th Assesment
														tbody
															-if(asset)
																-for(var i = 0; i < asset.length; i++)
																	-var quantity = asset[i].intQTY;
																	-var UOM = asset[i].strUOM;
																	-var price = asset[i].booPrice
																	-var category = asset[i].strCategory
																	-var condition = asset[i].booCondition
																	-var reserveprice = 0 
																	each rps in rp
																		-if(rps.intRPConsignmentItemID == asset[i].intConsignmentItemID)
																			-reserveprice = rps.dblReservePrice
																	tr
																		td #{quantity}
																		td #{UOM}
																		td #{category}
																			-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Screensize'))
																				-if(!asset[i].jsonOtherSpecifications.Screensize.indexOf('Screensize'))
																					-asset[i].jsonOtherSpecifications['Screensize'] = asset[i].jsonOtherSpecifications['Screensize']+' inches';						
																			-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Wattage'))
																				-if(asset[i].jsonOtherSpecifications.Wattage.indexOf('watts') < 0)
																					-asset[i].jsonOtherSpecifications['Wattage'] = asset[i].jsonOtherSpecifications['Wattage']+' watts';
																			-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Storage') && asset[i].jsonOtherSpecifications.category == "Mobile")
																				-if(!asset[i].jsonOtherSpecifications.Storage.indexOf('Storage'))
																					-asset[i].jsonOtherSpecifications['Storage'] = asset[i].jsonOtherSpecifications['Storage']+' GB';
																			-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Ram'))
																				-if(!asset[i].jsonOtherSpecifications.Ram.indexOf('RAM'))
																					-asset[i].jsonOtherSpecifications['Ram'] = 'RAM '+asset[i].jsonOtherSpecifications['Ram']+' GB';
																			-var valuesOnly = Object.values(asset[i].jsonOtherSpecifications)//-array values
																			-console.log(valuesOnly)
																			-var desc = asset[i].jsonOtherSpecifications.Item+' ' 
																			-for(var x = 1; x < valuesOnly.length; x++)
																				-desc = desc+' '+valuesOnly[x]
																		td #{desc}
																		td 
																			-if(condition == 1)
																				span.btn.btn-sm.btn-outline-danger.round Defective
																			-if(condition == 2)
																				span.btn.btn-sm.btn-outline-warning.round Bad
																			-if(condition == 3)
																				span.btn.btn-sm.btn-outline-info.round Okay
																			-if(condition == 4)
																				span.btn.btn-sm.btn-outline-primary.round Good
																			-if(condition == 5)
																				span.btn.btn-sm.btn-outline-success.round Excellent																		
																		-if(price == 0)
																			td 
																				span.btn.btn-sm.btn-outline-info.round Non-reserved
																			td ₱ 100.00															
																		-if(price == 1)
																			td
																				span.btn.btn-sm.btn-outline-success.round Reserved
																			td ₱ #{(parseFloat(reserveprice)).toFixed(2)}
										
					section.card.myDivToPrint(style='visibility: hidden;')
						#invoice-template.card-body
							// Invoice Company Details
							#invoice-company-details.row
								.col-md-6.col-sm-12.text-center.text-md-left
									.media
										img(src='/assets/images/logo/logo-80x80.png', alt='company logo')
										.media-body
											ul.ml-2.px-0.list-unstyled
												li
													h3.text-bold-800 Auction Pride of the Philippines 
												li
													h3.text-bold-800 Incorporation
												li 4025 Oak Avenue,
												li Melbourne,
												li Florida 32940,
												li USA
								.col-md-6.col-sm-12.text-center.text-md-right
									h2 Consignment Reference Number
									p.pb-3 # #{asset[0].intConsignmentID}
									
							// / Invoice Company Details
							// Invoice Customer Details
							#invoice-customer-details.row.pt-2
								.col-md-6.col-sm-12.text-center.text-md-left
									h3.text-muted Consignor ID: 
										span 
											h4.red #{consignor.intConsignorID}
									ul.px-0.list-unstyled
										li.text-bold-800 #{consignor.strName}
										li #{consignor.strPhone}
										li #{consignor.strAddress}
								.col-md-6.col-sm-12.text-center.text-md-right
									ul.px-0.list-unstyled
										br
									p
										span.text-muted Date Created:
										|  #{asset[0].datDateCreated}
									p
										span.text-muted Date Received:
										|  #{asset[0].datDateReceived}
									p
										span.text-muted Status: 
											span.btn.btn-sm.btn-outline-success.round Received
										
																		
												
												
												
									p
										span.text-muted Terms:
										|  Due on Receipt
							// / Invoice Customer Details
							// Invoice Items Details
							#invoice-items-details.pt-2
								.row
									.table-responsive.col-sm-12
										table.table
											thead
												tr
													th Quantity
													th Unit of Measurement
													th Category
													th Description
													th Condition
													th Price
													th Assesment
											tbody
												-if(asset)
													-for(var i = 0; i < asset.length; i++)
														-var quantity = asset[i].intQTY;
														-var UOM = asset[i].strUOM;
														-var price = asset[i].booPrice
														-var category = asset[i].strCategory
														-var condition = asset[i].booCondition
														-var reserveprice = 0 
														each rps in rp
															-if(rps.intRPConsignmentItemID == asset[i].intConsignmentItemID)
																-reserveprice = rps.dblReservePrice
														tr
															td #{quantity}
															td #{UOM}
															td #{category}
																-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Screensize'))
																	-if(!asset[i].jsonOtherSpecifications.Screensize.indexOf('Screensize'))
																		-asset[i].jsonOtherSpecifications['Screensize'] = asset[i].jsonOtherSpecifications['Screensize']+' inches';						
																-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Wattage'))
																	-if(asset[i].jsonOtherSpecifications.Wattage.indexOf('watts') < 0)
																		-asset[i].jsonOtherSpecifications['Wattage'] = asset[i].jsonOtherSpecifications['Wattage']+' watts';
																-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Storage') && asset[i].jsonOtherSpecifications.category == "Mobile")
																	-if(!asset[i].jsonOtherSpecifications.Storage.indexOf('Storage'))
																		-asset[i].jsonOtherSpecifications['Storage'] = asset[i].jsonOtherSpecifications['Storage']+' GB';
																-if(asset[i].jsonOtherSpecifications.hasOwnProperty('Ram'))
																	-if(!asset[i].jsonOtherSpecifications.Ram.indexOf('RAM'))
																		-asset[i].jsonOtherSpecifications['Ram'] = 'RAM '+asset[i].jsonOtherSpecifications['Ram']+' GB';
																-var valuesOnly = Object.values(asset[i].jsonOtherSpecifications)//-array values
																-console.log(valuesOnly)
																-var desc = asset[i].jsonOtherSpecifications.Item+' ' 
																-for(var x = 1; x < valuesOnly.length; x++)
																	-desc = desc+' '+valuesOnly[x]
															td #{desc}
															td 
																-if(condition == 1)
																	span.btn.btn-sm.btn-outline-danger.round Defective
																-if(condition == 2)
																	span.btn.btn-sm.btn-outline-warning.round Bad
																-if(condition == 3)
																	span.btn.btn-sm.btn-outline-info.round Okay
																-if(condition == 4)
																	span.btn.btn-sm.btn-outline-primary.round Good
																-if(condition == 5)
																	span.btn.btn-sm.btn-outline-success.round Excellent																		
															-if(price == 0)
																td 
																	span.btn.btn-sm.btn-outline-info.round Non-reserved
																td ₱ 100.00															
															-if(price == 1)
																td
																	span.btn.btn-sm.btn-outline-success.round Reserved
																td ₱ #{(parseFloat(reserveprice)).toFixed(2)}
								
								
							// Invoice Footer
							#invoice-footer
								.row
									.col-xl-12
										.row
											.col-xl-6
												h6.lead Received and Assessed By: 	
												h6.text-center
													img(src=`${asset[0].strSignatureAdmin}` style="border-bottom: 2px solid black; width: 250px")
													h5.text-center Froilan Sam Malibiran
													h6.text-center Accountant Executive
										.row
											.col-xl-6
												h6 Terms & Condition
												p
													| I hereby certify that the above information is true and correct to the best of my knowledge
													|  and belief. Any false statement found shall constitute a ban or sufficient cause of rejection 
													| of payment of my items.
												br
												h6.text-center
													img(src=`${asset[0].strSignatureConsignor}` style="border-bottom: 2px solid black; width: 250px")
													h5.text-center #{consignor.strName}
													h6.text-center Consignor
								br
								
							// / Invoice Footer

					// / Basic Horizontal Timeline
		// ////////////////////////////////////////////////////////////////////////////
		.customizer.border-left-blue-grey.border-left-lighten-4.d-none.d-xl-block
			a.customizer-close(href='#')
				i.ft-x.font-medium-3
			a.customizer-toggle.bg-danger.box-shadow-3(href='#')
				i.ft-settings.font-medium-3.spinner.white
			.customizer-content.p-2
				h4.text-uppercase.mb-0 Theme Customizer
				hr
				p Customize & Preview in Real Time
				h5.mt-1.mb-1.text-bold-500 Menu Color Options
				.form-group
					// Outline Button group
					.btn-group.customizer-sidebar-options(role='group', aria-label='Basic example')
						button.btn.btn-outline-info(type='button', data-sidebar='menu-light') Light Menu
						button.btn.btn-outline-info(type='button', data-sidebar='menu-dark') Dark Menu
				hr
				h5.mt-1.text-bold-500 Layout Options
				ul.nav.nav-tabs.nav-underline.nav-justified.layout-options
					li.nav-item
						a#baseIcon-tab21.nav-link.layouts.active(data-toggle='tab', aria-controls='tabIcon21', href='#tabIcon21', aria-expanded='true') Layouts
					li.nav-item
						a#baseIcon-tab22.nav-link.navigation(data-toggle='tab', aria-controls='tabIcon22', href='#tabIcon22', aria-expanded='false') Navigation
					li.nav-item
						a#baseIcon-tab23.nav-link.navbar(data-toggle='tab', aria-controls='tabIcon23', href='#tabIcon23', aria-expanded='false') Navbar
				.tab-content.px-1.pt-1
					#tabIcon21.tab-pane.active(role='tabpanel', aria-expanded='true', aria-labelledby='baseIcon-tab21')
						p
							.d-inline-block.custom-control.custom-checkbox
								input#collapsed-sidebar.custom-control-input(type='checkbox', name='collapsed-sidebar')
								label.custom-control-label(for='collapsed-sidebar') Collapsed Menu
						p
							.d-inline-block.custom-control.custom-checkbox
								input#fixed-layout.custom-control-input(type='checkbox', name='fixed-layout')
								label.custom-control-label(for='fixed-layout') Fixed Layout
						p
							.d-inline-block.custom-control.custom-checkbox
								input#boxed-layout.custom-control-input(type='checkbox', name='boxed-layout')
								label.custom-control-label(for='boxed-layout') Boxed Layout
						p
							.d-inline-block.custom-control.custom-checkbox
								input#static-layout.custom-control-input(type='checkbox', name='static-layout')
								label.custom-control-label(for='static-layout') Static Layout
					#tabIcon22.tab-pane(aria-labelledby='baseIcon-tab22')
						p
							.d-inline-block.custom-control.custom-checkbox
								input#native-scroll.custom-control-input(type='checkbox', name='native-scroll')
								label.custom-control-label(for='native-scroll') Native Scroll
						p
							.d-inline-block.custom-control.custom-checkbox
								input#right-side-icons.custom-control-input(type='checkbox', name='right-side-icons')
								label.custom-control-label(for='right-side-icons') Right Side Icons
						p
							.d-inline-block.custom-control.custom-checkbox
								input#bordered-navigation.custom-control-input(type='checkbox', name='bordered-navigation')
								label.custom-control-label(for='bordered-navigation') Bordered Navigation
						p
							.d-inline-block.custom-control.custom-checkbox
								input#flipped-navigation.custom-control-input(type='checkbox', name='flipped-navigation')
								label.custom-control-label(for='flipped-navigation') Flipped Navigation
						p
							.d-inline-block.custom-control.custom-checkbox
								input#collapsible-navigation.custom-control-input(type='checkbox', name='collapsible-navigation')
								label.custom-control-label(for='collapsible-navigation') Collapsible Navigation
						p
							.d-inline-block.custom-control.custom-checkbox
								input#static-navigation.custom-control-input(type='checkbox', name='static-navigation')
								label.custom-control-label(for='static-navigation') Static Navigation
					#tabIcon23.tab-pane(aria-labelledby='baseIcon-tab23')
						p
							.d-inline-block.custom-control.custom-checkbox
								input#brand-center.custom-control-input(type='checkbox', name='brand-center')
								label.custom-control-label(for='brand-center') Brand Center
						p
							.d-inline-block.custom-control.custom-checkbox
								input#navbar-static-top.custom-control-input(type='checkbox', name='navbar-static-top')
								label.custom-control-label(for='navbar-static-top') Static Top
				hr
				h5.mt-1.text-bold-500 Navigation Color Options
				ul.nav.nav-tabs.nav-underline.nav-justified.color-options
					li.nav-item
						a#color-opt-1.nav-link.nav-semi-light.active(data-toggle='tab', aria-controls='clrOpt1', href='#clrOpt1', aria-expanded='false') Semi Light
					li.nav-item
						a#color-opt-2.nav-link.nav-semi-dark(data-toggle='tab', aria-controls='clrOpt2', href='#clrOpt2', aria-expanded='false') Semi Dark
					li.nav-item
						a#color-opt-3.nav-link.nav-dark(data-toggle='tab', aria-controls='clrOpt3', href='#clrOpt3', aria-expanded='false') Dark
					li.nav-item
						a#color-opt-4.nav-link.nav-light(data-toggle='tab', aria-controls='clrOpt4', href='#clrOpt4', aria-expanded='true') Light
				.tab-content.px-1.pt-1
					#clrOpt1.tab-pane.active(role='tabpanel', aria-expanded='true', aria-labelledby='color-opt-1')
						.row
							.col-6
								h6 Solid
								p
									.d-inline-block.custom-control.custom-radio
										input#default.custom-control-input.bg-blue-grey(type='radio', name='nav-slight-clr', data-bg='bg-blue-grey')
										label.custom-control-label(for='default') Default
								p
									.d-inline-block.custom-control.custom-radio
										input#primary.custom-control-input.bg-primary(type='radio', name='nav-slight-clr', data-bg='bg-primary')
										label.custom-control-label(for='primary') Primary
								p
									.d-inline-block.custom-control.custom-radio
										input#danger.custom-control-input.bg-danger(type='radio', name='nav-slight-clr', data-bg='bg-danger')
										label.custom-control-label(for='danger') Danger
								p
									.d-inline-block.custom-control.custom-radio
										input#success.custom-control-input.bg-success(type='radio', name='nav-slight-clr', data-bg='bg-success')
										label.custom-control-label(for='success') Success
								p
									.d-inline-block.custom-control.custom-radio
										input#blue.custom-control-input.bg-blue(type='radio', name='nav-slight-clr', data-bg='bg-blue')
										label.custom-control-label(for='blue') Blue
								p
									.d-inline-block.custom-control.custom-radio
										input#cyan.custom-control-input.bg-cyan(type='radio', name='nav-slight-clr', data-bg='bg-cyan')
										label.custom-control-label(for='cyan') Cyan
								p
									.d-inline-block.custom-control.custom-radio
										input#pink.custom-control-input.bg-pink(type='radio', name='nav-slight-clr', data-bg='bg-pink')
										label.custom-control-label(for='pink') Pink
							.col-6
								h6 Gradient
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-grey-blue.custom-control-input.bg-blue-grey(type='radio', name='nav-slight-clr', checked='', data-bg='bg-gradient-x-grey-blue')
										label.custom-control-label(for='bg-gradient-x-grey-blue') Default
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-primary.custom-control-input.bg-primary(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-primary')
										label.custom-control-label(for='bg-gradient-x-primary') Primary
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-danger.custom-control-input.bg-danger(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-danger')
										label.custom-control-label(for='bg-gradient-x-danger') Danger
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-success.custom-control-input.bg-success(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-success')
										label.custom-control-label(for='bg-gradient-x-success') Success
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-blue.custom-control-input.bg-blue(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-blue')
										label.custom-control-label(for='bg-gradient-x-blue') Blue
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-cyan.custom-control-input.bg-cyan(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-cyan')
										label.custom-control-label(for='bg-gradient-x-cyan') Cyan
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-pink.custom-control-input.bg-pink(type='radio', name='nav-slight-clr', data-bg='bg-gradient-x-pink')
										label.custom-control-label(for='bg-gradient-x-pink') Pink
					#clrOpt2.tab-pane(aria-labelledby='color-opt-2')
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-default.custom-control-input.bg-default(type='radio', name='nav-sdark-clr', checked='', data-bg='bg-default')
								label.custom-control-label(for='opt-default') Default
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-primary.custom-control-input.bg-primary(type='radio', name='nav-sdark-clr', data-bg='bg-primary')
								label.custom-control-label(for='opt-primary') Primary
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-danger.custom-control-input.bg-danger(type='radio', name='nav-sdark-clr', data-bg='bg-danger')
								label.custom-control-label(for='opt-danger') Danger
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-success.custom-control-input.bg-success(type='radio', name='nav-sdark-clr', data-bg='bg-success')
								label.custom-control-label(for='opt-success') Success
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-blue.custom-control-input.bg-blue(type='radio', name='nav-sdark-clr', data-bg='bg-blue')
								label.custom-control-label(for='opt-blue') Blue
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-cyan.custom-control-input.bg-cyan(type='radio', name='nav-sdark-clr', data-bg='bg-cyan')
								label.custom-control-label(for='opt-cyan') Cyan
						p
							.d-inline-block.custom-control.custom-radio
								input#opt-pink.custom-control-input.bg-pink(type='radio', name='nav-sdark-clr', data-bg='bg-pink')
								label.custom-control-label(for='opt-pink') Pink
					#clrOpt3.tab-pane(aria-labelledby='color-opt-3')
						.row
							.col-6
								h3 Solid
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-blue-grey.custom-control-input.bg-blue-grey(type='radio', name='nav-dark-clr', data-bg='bg-blue-grey')
										label.custom-control-label(for='solid-blue-grey') Default
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-primary.custom-control-input.bg-primary(type='radio', name='nav-dark-clr', data-bg='bg-primary')
										label.custom-control-label(for='solid-primary') Primary
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-danger.custom-control-input.bg-danger(type='radio', name='nav-dark-clr', data-bg='bg-danger')
										label.custom-control-label(for='solid-danger') Danger
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-success.custom-control-input.bg-success(type='radio', name='nav-dark-clr', data-bg='bg-success')
										label.custom-control-label(for='solid-success') Success
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-blue.custom-control-input.bg-blue(type='radio', name='nav-dark-clr', data-bg='bg-blue')
										label.custom-control-label(for='solid-blue') Blue
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-cyan.custom-control-input.bg-cyan(type='radio', name='nav-dark-clr', data-bg='bg-cyan')
										label.custom-control-label(for='solid-cyan') Cyan
								p
									.d-inline-block.custom-control.custom-radio
										input#solid-pink.custom-control-input.bg-pink(type='radio', name='nav-dark-clr', data-bg='bg-pink')
										label.custom-control-label(for='solid-pink') Pink
							.col-6
								h3 Gradient
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-grey-blue1.custom-control-input.bg-blue-grey(type='radio', name='nav-dark-clr', data-bg='bg-gradient-x-grey-blue')
										label.custom-control-label(for='bg-gradient-x-grey-blue1') Default
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-primary1.custom-control-input.bg-primary(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-primary')
										label.custom-control-label(for='bg-gradient-x-primary1') Primary
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-danger1.custom-control-input.bg-danger(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-danger')
										label.custom-control-label(for='bg-gradient-x-danger1') Danger
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-success1.custom-control-input.bg-success(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-success')
										label.custom-control-label(for='bg-gradient-x-success1') Success
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-blue1.custom-control-input.bg-blue(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-blue')
										label.custom-control-label(for='bg-gradient-x-blue1') Blue
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-cyan1.custom-control-input.bg-cyan(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-cyan')
										label.custom-control-label(for='bg-gradient-x-cyan1') Cyan
								p
									.d-inline-block.custom-control.custom-radio
										input#bg-gradient-x-pink1.custom-control-input.bg-pink(type='radio', name='nav-dark-clr', checked='', data-bg='bg-gradient-x-pink')
										label.custom-control-label(for='bg-gradient-x-pink1') Pink
					#clrOpt4.tab-pane(aria-labelledby='color-opt-4')
						p
							.d-inline-block.custom-control.custom-radio
								input#light-blue-grey.custom-control-input.bg-blue-grey(type='radio', name='nav-light-clr', data-bg='bg-blue-grey bg-lighten-4')
								label.custom-control-label(for='light-blue-grey') Default
						p
							.d-inline-block.custom-control.custom-radio
								input#light-primary.custom-control-input.bg-primary(type='radio', name='nav-light-clr', data-bg='bg-primary bg-lighten-4')
								label.custom-control-label(for='light-primary') Primary
						p
							.d-inline-block.custom-control.custom-radio
								input#light-danger.custom-control-input.bg-danger(type='radio', name='nav-light-clr', data-bg='bg-danger bg-lighten-4')
								label.custom-control-label(for='light-danger') Danger
						p
							.d-inline-block.custom-control.custom-radio
								input#light-success.custom-control-input.bg-success(type='radio', name='nav-light-clr', data-bg='bg-success bg-lighten-4')
								label.custom-control-label(for='light-success') Success
						p
							.d-inline-block.custom-control.custom-radio
								input#light-blue.custom-control-input.bg-blue(type='radio', name='nav-light-clr', data-bg='bg-blue bg-lighten-4')
								label.custom-control-label(for='light-blue') Blue
						p
							.d-inline-block.custom-control.custom-radio
								input#light-cyan.custom-control-input.bg-cyan(type='radio', name='nav-light-clr', data-bg='bg-cyan bg-lighten-4')
								label.custom-control-label(for='light-cyan') Cyan
						p
							.d-inline-block.custom-control.custom-radio
								input#light-pink.custom-control-input.bg-pink(type='radio', name='nav-light-clr', data-bg='bg-pink bg-lighten-4')
								label.custom-control-label(for='light-pink') Pink
		footer.footer.footer-transparent.footer-light.navbar-shadow
			p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2.container.center-layout
				span.float-md-left.d-block.d-md-inline-block
					| Copyright © 2018 
					a.text-bold-800.grey.darken-2(href='https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT 
					| , All rights reserved.
				span.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block
					| Hand-crafted & Made with 
					i.ft-heart.pink
		input#hostname(type='hidden' value=hostname)
		input#port(type='hidden' value=port)
		// BEGIN VENDOR JS
		script(src='/assets/vendors/js/vendors.min.js', type='text/javascript')
		// BEGIN VENDOR JS
		// BEGIN PAGE VENDOR JS
		script(src='/assets/vendors/js/charts/chart.min.js', type='text/javascript')
		script(type='text/javascript', src='/assets/vendors/js/ui/jquery.sticky.js')
		script(src='/assets/vendors/js/charts/chartist.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/chartist-plugin-tooltip.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/raphael-min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/morris.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js', type='text/javascript')
		script(src='/assets/data/jvector/visitor-data.js', type='text/javascript')
		script(src='/assets/vendors/js/timeline/horizontal-timeline.js', type='text/javascript')
		script(src='/assets/vendors/js/qrcode.js', type='text/javascript')
		// END PAGE VENDOR JS
		// BEGIN MODERN JS
		script(src='/assets/js/core/app-menu.min.js', type='text/javascript')
		script(src='/assets/js/core/app.min.js', type='text/javascript')
		script(src='/assets/js/scripts/customizer.min.js', type='text/javascript')
		// END MODERN JS
		// BEGIN PAGE LEVEL JS
		script(src='/assets/js/scripts/pages/dashboard-ecommerce.min.js', type='text/javascript')
		script(src='/socket.io/socket.io.js')
		script(src='/assets/vendors/js/notification.js', type='text/javascript')
		//- script(src='/assets/js/scripts/pages/dashboard-sales.min.js', type='text/javascript')
		//- script(src='/assets/js/scripts/cards/card-charts.min.js', type='text/javascript')
		// END PAGE LEVEL JS
		script.
			var qrcode = new QRCode(document.getElementById("qrcode"), {
				width : 150,
				height : 150,	
			});

			function makeCode () {
				qrcode.makeCode(!{JSON.stringify(asset[0].strConsignmentCode)});
			}

			$(document).ready(function(){
				makeCode();
			})
	
		