doctype html
html.loading(lang='en', data-textdirection='ltr')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
		meta(name='description', content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
		meta(name='keywords', content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
		meta(name='author', content='PIXINVENT')
		title
			| AMSOB Admin | Claiming
		link(rel='apple-touch-icon', href='/assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='/assets/images/ico/favicon.ico')
		link(href='/assets/css/fonts.css', rel='stylesheet')
		link(href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css', rel='stylesheet')
		// BEGIN VENDOR CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/vendors.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/vertical-menu-modern.css')

		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/weather-icons/climacons.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/meteocons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/morris.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/chartist.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/chartist-plugin-tooltip.css')
		// END VENDOR CSS
		// BEGIN MODERN CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
		// END MODERN CSS
		// BEGIN Page Level CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/horizontal-menu.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/simple-line-icons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/timeline.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-callout.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/dashboard-ecommerce.min.css')
		link(rel='stylesheet', type='text/css' href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/pages/gallery.min.css')


		// END Page Level CSS
		// BEGIN Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style.css')
		// END Custom CSS
		style.
			.card .card-body:before {
				font-family: fontawesome;
				font-size: 10rem;
				color: rgba(255,255,255,.15);
				position: absolute;
				bottom: -32px;
				right: 0;
			}
			.sales::before {
				content: "\f0d6";
			}
			.consignment::before {
				content: "\f07a";
			}
			.form-control:disabled, .form-control[readonly], .input-group-addon {
				background-color: transparent;
				border: none! important;
				font-family: Quicksand,Georgia,'Times New Roman',Times,serif;
			}
			.pull-up{
				z-index: 0 !important;
			}
			@media print {
				html {
					visibility: hidden;
				}
				.myDivToPrint, .myDivToPrint * {
					visibility: visible;
				}
				.myDivToPrint {
					background-color: white;
					height: 100%;
					width: 100%;
					position: fixed;
					top: 0;
					left: 0;
					margin: 0;
					padding: 15px;
				}
				#print{
					visibility: hidden;					
				}
				html body{
					background-color: white;
				}
				}
	body.vertical-layout.vertical-menu-modern.2-columns.menu-expanded.fixed-navbar(data-open='click', data-menu='vertical-menu-modern', data-col='2-columns')
		// fixed-top
		nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.fixed-top.navbar-shadow.navbar-semi-light.bg-gradient-x-blue
			.navbar-wrapper
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mobile-menu.d-md-none.mr-auto
							a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
								i.ft-menu.font-large-1
						li.nav-item.mr-auto
							a.navbar-brand(href='index.html')
								img.brand-logo(alt='modern admin logo', src='/assets/images/logo/logo.png')
								h3.brand-text AMSOB
						li.nav-item.d-none.d-md-block.float-right
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.toggle-icon.ft-toggle-right.font-medium-3.white(data-ticon='ft-toggle-right')
						li.nav-item.d-md-none
							a.nav-link.open-navbar-container(data-toggle='collapse', data-target='#navbar-mobile')
								i.la.la-ellipsis-v
				.navbar-container.content
					#navbar-mobile.collapse.navbar-collapse
						ul.nav.navbar-nav.mr-auto.float-left
							li.nav-item.d-none.d-md-block
								a.nav-link.nav-link-expand(href='#')
									i.ficon.ft-maximize
							li.dropdown.nav-item.mega-dropdown
								a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown') Mega
								ul.mega-dropdown-menu.dropdown-menu.row
									li.col-md-2
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-newspaper-o
											|  News
										#mega-menu-carousel-example
											div
												img.rounded.img-fluid.mb-1(src='/assets/images/slider/slider-2.png', alt='First slide')
												a.news-title.mb-0(href='#') Poster Frame PSD
												p.news-content
													span.font-small-2 January 26, 2018
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-random
											|  Drill down menu
										ul.drilldown-menu
											li.menu-list
												ul
													li
														a.dropdown-item(href='layout-2-columns.html')
															i.ft-file
															|  Page layouts & Templates
													li
														a(href='#')
															i.ft-align-left
															|  Multi level menu
														ul
															li
																a.dropdown-item(href='#')
																	i.la.la-bookmark-o
																	|   Second level
															li
																a(href='#')
																	i.la.la-lemon-o
																	|  Second level menu
																ul
																	li
																		a.dropdown-item(href='#')
																			i.la.la-heart-o
																			|   Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-file-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-trash-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-clock-o
																			|  Third level
															li
																a.dropdown-item(href='#')
																	i.la.la-hdd-o
																	|  Second level, third link
															li
																a.dropdown-item(href='#')
																	i.la.la-floppy-o
																	|  Second level, fourth link
													li
														a.dropdown-item(href='color-palette-primary.html')
															i.ft-camera
															|  Color palette system
													li
														a.dropdown-item(href='sk-2-columns.html')
															i.ft-edit
															|  Page starter kit
													li
														a.dropdown-item(href='changelog.html')
															i.ft-minimize-2
															|  Change log
													li
														a.dropdown-item(href='https://pixinvent.ticksy.com/')
															i.la.la-life-ring
															|  Customer support center
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-list-ul
											|  Accordion
										#accordionWrap(role='tablist', aria-multiselectable='true')
											.card.border-0.box-shadow-0.collapse-icon.accordion-icon-rotate
												#headingOne.card-header.p-0.pb-2.border-0(role='tab')
													a(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionOne', aria-expanded='true', aria-controls='accordionOne') Accordion Item #1
												#accordionOne.card-collapse.collapse.show(role='tabpanel', aria-labelledby='headingOne', aria-expanded='true')
													.card-content
														p.accordion-text.text-small-3
															| Caramels dessert chocolate cake pastry jujubes bonbon.
															| Jelly wafer jelly beans. Caramels chocolate cake liquorice
															| cake wafer jelly beans croissant apple pie.
												#headingTwo.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionTwo', aria-expanded='false', aria-controls='accordionTwo') Accordion Item #2
												#accordionTwo.card-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo', aria-expanded='false')
													.card-content
														p.accordion-text
															| Sugar plum bear claw oat cake chocolate jelly tiramisu
															| dessert pie. Tiramisu macaroon muffin jelly marshmallow
															| cake. Pastry oat cake chupa chups.
												#headingThree.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionThree', aria-expanded='false', aria-controls='accordionThree') Accordion Item #3
												#accordionThree.card-collapse.collapse(role='tabpanel', aria-labelledby='headingThree', aria-expanded='false')
													.card-content
														p.accordion-text
															| Candy cupcake sugar plum oat cake wafer marzipan jujubes
															| lollipop macaroon. Cake dragée jujubes donut chocolate
															| bar chocolate cake cupcake chocolate topping.
									li.col-md-4
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-envelope-o
											|  Contact Us
										form.form.form-horizontal
											.form-body
												.form-group.row
													label.col-sm-3.form-control-label(for='inputName1') Name
													.col-sm-9
														.position-relative.has-icon-left
															input#inputName1.form-control(type='text', placeholder='John Doe')
															.form-control-position.pl-1
																i.la.la-user
												.form-group.row
													label.col-sm-3.form-control-label(for='inputEmail1') Email
													.col-sm-9
														.position-relative.has-icon-left
															input#inputEmail1.form-control(type='email', placeholder='john@example.com')
															.form-control-position.pl-1
																i.la.la-envelope-o
												.form-group.row
													label.col-sm-3.form-control-label(for='inputMessage1') Message
													.col-sm-9
														.position-relative.has-icon-left
															textarea#inputMessage1.form-control(rows='2', placeholder='Simple Textarea')
															.form-control-position.pl-1
																i.la.la-commenting-o
												.row
													.col-sm-12.mb-1
														button.btn.btn-info.float-right(type='button')
															i.la.la-paper-plane-o
															|  Send
							li.nav-item.nav-search
								a.nav-link.nav-link-search(href='#')
									i.ficon.ft-search
								.search-input
									input.input(type='text', placeholder='Explore Modern...')
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									span.mr-1
										| Hello,
										span.user-name.text-bold-700 #{session.user.strEmployeeFirstName} #{session.user.strEmployeeLastName}
									span.avatar.avatar-online
										img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
										i
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='#')
										i.ft-user
										|  Edit Profile
									a.dropdown-item(href='#')
										i.ft-mail
										|  My Inbox
									a.dropdown-item(href='#')
										i.ft-check-square
										|  Task
									a.dropdown-item(href='#')
										i.ft-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='/logout')
										i.ft-power
										|  Logout
							li.dropdown.dropdown-language.nav-item
								a#dropdown-flag.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-gb
									span.selected-language
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-gb
										|  English
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-cn
										|  Chinese
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-de
										|  German
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-bell
									span.badge.badge-pill.badge-default.badge-danger.badge-default.badge-up.badge-glow#numberNotif 
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Notifications
									li.scrollable-container.media-list.w-100#notificationField
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-mail              
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Messages
										span.notification-tag.badge.badge-default.badge-warning.float-right.m-0 4 New
									li.scrollable-container.media-list.w-100
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
														i
												.media-body
													h6.media-heading Margaret Govan
													p.notification-text.font-small-3.text-muted I like your portfolio, let's start.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-busy.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-2.png', alt='avatar')
														i
												.media-body
													h6.media-heading Bret Lezama
													p.notification-text.font-small-3.text-muted I have seen your work, there is
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-3.png', alt='avatar')
														i
												.media-body
													h6.media-heading Carie Berra
													p.notification-text.font-small-3.text-muted Can we have call in this week ?
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-away.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-6.png', alt='avatar')
														i
												.media-body
													h6.media-heading Eric Alsobrook
													p.notification-text.font-small-3.text-muted We have project party this saturday.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all messages
		// ////////////////////////////////////////////////////////////////////////////
		.main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow(data-scroll-to-active='true')
			.main-menu-content
				ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
					li.nav-item
						a(href='/')
							i.fa.fa-dashboard
							span.menu-title Dashboard
					li.nav-item
						a(href='#')
							i.fa.fa-wrench
							span.menu-title Maintenance
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor
									li
										a.menu-item(href='/consignment/maintenance', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignment
									li
										a.menu-item(href='/bundle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bundle
									li
										a.menu-item(href='/assets', data-i18n='nav.menu_levels.second_level_child.third_level_child') Assets
									li
										a.menu-item(href='/inventory', data-i18n='nav.menu_levels.second_level_child.third_level_child') Inventory
									li
										a.menu-item(href='/lostanddamage', data-i18n='nav.menu_levels.second_level_child.third_level_child') Lost and Damage
									li
										a.menu-item(href='/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidders
									li
										a.menu-item(href='/auction', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Schedule
									li
										a.menu-item(href='/maintenance/auctionresults', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Results
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') User Management
								ul.menu-content
									li
										a.menu-item(href='/uom', data-i18n='nav.menu_levels.second_level_child.third_level_child') Unit of Measurement
									li
										a.menu-item(href='/idtypes', data-i18n='nav.menu_levels.second_level_child.third_level_child') ID Types
									li
										a.menu-item(href='/jobtitle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Job Title
									li
										a.menu-item(href='/employee', data-i18n='nav.menu_levels.second_level_child.third_level_child') Employee
					li.nav-item
						a(href='javascript:void(0)')
							i.fa.fa-handshake-o
							span.menu-title Transaction
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/evaluation/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor Evaluation
									li
										a.menu-item(href='/consignment', data-i18n='nav.menu_levels.second_level_child.third_level_child') Asset Receiving
									li
										a.menu-item(href='/consignor/auctionresult', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignor Payment
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Online Bidding
								ul.menu-content
									li
										a.menu-item(href='/evaluation/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Bidder Evaluation
									li
										a.menu-item(href='/verify/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidder Verification
									li
										a.menu-item(href='/awards', data-i18n='nav.menu_levels.second_level_child.third_level_child') Awards
									li
										a.menu-item(href='/delivery', data-i18n='nav.menu_levels.second_level_child.third_level_child') Delivery
					li.nav-item
						a(href='/queries')
							i.fa.fa-list
							span.menu-title Queries
					li.nav-item
						a(href='/reports/sales')
							i.fa.fa-line-chart
							span.menu-title Reports
					li.nav-item
						a(href='/utilities')
							i.fa.fa-cogs
							span.menu-title Utilities
		.app-content.content
			.content-wrapper
				#signatureModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog.modal-xl(role='document')
						.modal-content
							.modal-header(style='border-bottom: none;')
								h4.modal-title.text-center
									img(src='/assets/images/logo/logo-dark.png', alt='branding logo')
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
									span Agreement
								.row
									.col-md-6
										.text-center
											canvas#signature-pad.signature-pad(style="margin: auto; border: 2px solid #557f90" width='400', height='200')
											h4.text-center #{admin.strEmployeeFirstName} #{admin.strEmployeeLastName}
											p Accountant Executive
											button#undo1.btn.btn-primary(href='#') Undo
									.col-md-6
										.text-center
											canvas#signature-pad2.signature-pad(style="margin: auto; border: 2px solid #557f90" width='400', height='200')
											h4.text-center#consignorName 
											p Consignor
											button#undo2.btn.btn-primary(href='#') Undo
							.modal-footer
								button#cancel.btn.btn-outline-danger.btn-md(type='button')
									| Cancel
								button#releaseCheck.btn.btn-outline-success.btn-md(type='button')
									| Finish
				.content-header.row
					.content-header-left.col-md-6.col-12.mb-2.breadcrumb-new
						h3.content-header-title.mb-0.d-inline-block Asset List
						.row.breadcrumbs-top.d-inline-block
							.breadcrumb-wrapper.col-12
								ol.breadcrumb
									li.breadcrumb-item.active
										| Asset List
									
				.content-body
					section.row
						.col-12
							.card
								.card-head
									.card-header
										.grid-hover.row
											.col-md-12.col-12
												figure.effect-dexter(style='max-width: none;')
													img(src='/assets/images/asset receive.jpg', alt='img19')
													figcaption
														h2
															| Auction 
															span Result
														p
															| Dexter had his own strange way. You could watch him training
															| ants.
														a(href='#') View more
										.row
											.col-md-6 
												h4.card-title Auction Result
											.col-md-6
												.text-right
													button#confirm.btn.btn-success.btn-sma(type='button')
														i.fa.fa-check
														|  Confirm
								.card-content
									.card-body
										// Task List table
										.table-responsive
											-var totality = 0, revenue = 0, commission = 0;
											
											#invoice-customer-details.row.pt-2
												.col-md-6.col-sm-12.text-center.text-md-left
													h3.text-muted Consignor ID: 
														span 
															h4.red.ConsignorID
													ul.px-0.list-unstyled
														li.text-bold-800.nameCon Froilan
														li.addressCon sfsdfdsfdsfdsfsdf
														li.phoneCon LOOOKSoisjjshf
												.col-md-6.col-sm-12.text-center.text-md-right
													ul.px-0.list-unstyled
														br
														li
															h4 Voucher Code: 
																span.blue #{code}
														br
														#qrcode
														br
														p
															span.text-muted Auction Number:
															|  Auction #4
														p
															span.text-muted Auction Result Status: &nbsp
																-if(dataRes)
																	-if(dataRes[0].booARStatus == 0)
																		span.btn.btn-sm.btn-outline-warning.warning For Claiming
																	-if(dataRes[0].booARStatus == 1)
																		span.btn.btn-sm.btn-outline-success.success Released
																-else
																	span.btn.btn-sm.btn-outline-warning.warning For Claiming
																	
															
										
																		
												
											.row
												.table-responsive.col-sm-12
													table.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
														thead
															tr
																th Item ID
																th Qty
																th Item Name
																th Hammer Price
																th Commission
																th Payable
																th OR
														tbody
															-if(dataRes)
																tr
																	td(colspan="7")
																		h4.text-center(style='color:green; font-weight: bold; font-size: 15px;') Payable
																-var exer = 0	
																-for(var i = 0; i < dataRes.length; i++)
																	-if(dataRes[i].booType == 1)
																		-exer = 1
																		tr
																			td #{dataRes[i].strARItemID}
																			td #{dataRes[i].intARQTY}
																			-if(dataRes[i].strARItemID.charAt(0) == 'B')
																				td #{dataRes[i].strARJson}
																			-else
																				-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																					-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																						-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																				-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																					-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																						-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																				-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																					-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																						-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																				-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																					-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																						-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																				-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																				-console.log(valuesOnly)
																				-var desc = dataRes[i].strARJson.Item+' ' 
																				-for(var x = 1; x < valuesOnly.length; x++)
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																							-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																								-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																									-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																										-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																											-desc = desc+' '+valuesOnly[x]
																				-var s = desc.split(' ');
																				
																				td 
																					
																					-for(var t = 0; t < s.length; t++)
																						-if(t % 2 != 0)
																							br
																							| #{s[t]} 
																						-else
																							span #{s[t]} 
																			td P#{(dataRes[i].dblHammerPrice).toFixed(2)}
																			td P#{(dataRes[i].dblCommission).toFixed(2)}
																			-revenue = revenue + parseFloat(dataRes[i].dblHammerPrice)
																			-commission = commission + parseFloat(dataRes[i].dblCommission)
																			-totality = totality + (parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)))
																			td P#{parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)).toFixed(2)}
																			td #{dataRes[i].intARReceiptID}
																	-if(i == dataRes.length - 1 && exer == 0)
																		tr
																			td(colspan="7")
																				h4.text-center(style='font-size: 15px;') --Nothing On Here--
														
														
															-if(dataRes)										
																tr
																	td(colspan="7")
																		h4.text-center(style='color: red; font-weight: bold; font-size: 15px;') Cancelled
																-var exer = 0;
																-for(var i = 0; i < dataRes.length; i++)
																	-if(dataRes[i].booType == 2)
																		-exer = 1;
																		tr
																			td #{dataRes[i].strARItemID}
																			td #{dataRes[i].intARQTY}
																			-if(dataRes[i].strARItemID.charAt(0) == 'B')
																				td #{dataRes[i].strARJson}
																			-else
																				-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																					-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																						-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																				-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																					-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																						-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																				-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																					-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																						-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																				-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																					-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																						-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																				-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																				-console.log(valuesOnly)
																				-var desc = dataRes[i].strARJson.Item+' ' 
																				-for(var x = 1; x < valuesOnly.length; x++)
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																							-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																								-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																									-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																										-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																											-desc = desc+' '+valuesOnly[x]
																				-var s = desc.split(' ');
																				
																				td 
																					
																					-for(var t = 0; t < s.length; t++)
																						-if(t % 2 != 0)
																							br
																							| #{s[t]} 
																						-else
																							span #{s[t]} 
																			td
																			td
																			td
																			td
																	-if(i == dataRes.length - 1 && exer == 0)
																		tr
																			td(colspan="7")
																				h4.text-center(style='font-size: 15px;') --Nothing On Here--

														
															-if(dataRes)
																tr
																	td(colspan="7")
																		h4.text-center(style='color: blue; font-weight: bold; font-size: 15px;') Unsold
																-var exer = 0;												
																-for(var i = 0; i < dataRes.length; i++)
																	-if(dataRes[i].booType == 3)
																		-exer = 1
																		tr
																			td #{dataRes[i].strARItemID}
																			td #{dataRes[i].intARQTY}
																			-if(dataRes[i].strARItemID.charAt(0) == 'B')
																				td #{dataRes[i].strARJson}
																			-else
																				-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																					-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																						-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																				-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																					-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																						-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																				-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																					-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																						-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																				-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																					-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																						-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																				-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																				-console.log(valuesOnly)
																				-var desc = dataRes[i].strARJson.Item+' ' 
																				-for(var x = 1; x < valuesOnly.length; x++)
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																							-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																								-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																									-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																										-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																											-desc = desc+' '+valuesOnly[x]																	
																				-var s = desc.split(' ');
																				
																				td 
																					
																					-for(var t = 0; t < s.length; t++)
																						-if(t % 2 != 0)
																							br
																							| #{s[t]} 
																						-else
																							span #{s[t]} 
																			td 
																			td 
																			td
																			td
																	-if(i == dataRes.length - 1 && exer == 0)
																		tr
																			td(colspan="7")
																				h4.text-center(style='font-size: 15px;') --Nothing On Here--
												
															-if(dataRes)
																tr
																	td(colspan="7")
																		h4.text-center(style='color: orange; font-weight: bold; font-size: 15px;') Issues
																-var exer = 0;			
																-for(var i = 0; i < dataRes.length; i++)
																	-if(dataRes[i].booType == 4)
																		-exer = 1
																		tr
																			td #{dataRes[i].strARItemID}
																			td #{dataRes[i].intARQTY}
																			-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																				-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																					-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																			-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																				-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																					-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																			-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																				-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																					-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																			-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																				-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																					-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																			-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																			-console.log(valuesOnly)
																			-var desc = dataRes[i].strARJson.Item+' ' 
																			-for(var x = 1; x < valuesOnly.length; x++)
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																							-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																								-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																									-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																										-desc = desc+' '+valuesOnly[x]
																				-var s = desc.split(' ');
																				
																				td 
																					
																					-for(var t = 0; t < s.length; t++)
																						-if(t % 2 != 0)
																							br
																							| #{s[t]} 
																						-else
																							span #{s[t]} 
																			td 
																			td 
																			-totality = totality + (parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)))
															
																			td P#{parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)).toFixed(2)} 	
																			td 
																	-if(i == dataRes.length - 1 && exer == 0)
																		tr
																			td(colspan="7")
																				h4.text-center(style='font-size: 15px;') --Nothing On Here--
															
															-if(dataRes)
																tr
																	td(colspan="7")
																		h4.text-center(style='color: violet; font-weight: bold; font-size: 15px;') Pull-out
																-var exer = 0;			
																-for(var i = 0; i < dataRes.length; i++)
																	-if(dataRes[i].booType == 5)
																		-exer = 1
																		tr
																			td #{dataRes[i].strARItemID}
																			td #{dataRes[i].intARQTY}
																			-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																				-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																					-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																			-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																				-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																					-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																			-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																				-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																					-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																			-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																				-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																					-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																			-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																			-console.log(valuesOnly)
																			-var desc = dataRes[i].strARJson.Item+' ' 
																			-for(var x = 1; x < valuesOnly.length; x++)
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																							-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																								-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																									-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																										-desc = desc+' '+valuesOnly[x]
																				-var s = desc.split(' ');
																				
																				td 
																					
																					-for(var t = 0; t < s.length; t++)
																						-if(t % 2 != 0)
																							br
																							| #{s[t]} 
																						-else
																							span #{s[t]}  
																			td 
																			td 
																			td 
																			td 
																	-if(i == dataRes.length - 1 && exer == 0)
																		tr
																			td(colspan="7")
																				h4.text-center(style='font-size: 15px;') --Nothing On Here--
															
											.row
												.col-md-7.col-sm-12.text-center.text-md-left
													p.lead Payment Methods:
													.row
														.col-md-8
															table.table.table-borderless.table-sm
																tbody
																	tr
																		td Check Payable to:
																		td.checkPayableTo.text-right
																	tr
																		td Representative Name:
																		td.RepName.text-right
																	tr
																		td Date Claimed:
																		td.text-right --
												.col-md-5.col-sm-12
													p.lead Total due
													.table-responsive
														table.table
															tbody
																tr
																	td 
																		h6 Total Revenue
																	td.text-right P#{revenue.toFixed(2)}
																tr
																	td
																		h6 Commission
																	td.pink.text-right (-) P#{commission.toFixed(2)}
																												
																tr.bg-grey.bg-lighten-4
																	td
																		h4.text-bold-800 Net Payable
																	td.text-bold-800.text-right P#{totality.toFixed(2)}
								
										
					section.card.myDivToPrint(style='visibility: hidden;')
						#invoice-template.card-body
							// Invoice Company Details
							#invoice-company-details.row
								.col-md-6.col-sm-12.text-center.text-md-left
									.media
										img(src='/assets/images/logo/logo-80x80.png', alt='company logo')
										.media-body
											ul.ml-2.px-0.list-unstyled
												li
													h3.text-bold-800 Auction Pride of the Philippines 
												li
													h3.text-bold-800 Incorporation
												li 4025 Oak Avenue,
												li Melbourne,
												li Florida 32940,
												li USA
								.col-md-6.col-sm-12.text-center.text-md-right
									h2 Auction Reference Number
									p.pb-3 # #{dataRes[0].intAuctionResultID}
									
							// / Invoice Company Details
							// Invoice Customer Details
							-var totality = 0, revenue = 0, commission = 0;
							#invoice-customer-details.row.pt-2
								.col-md-6.col-sm-12.text-center.text-md-left
									h3.text-muted Consignor ID: 
										span 
											h4.red.ConsignorID
									ul.px-0.list-unstyled
										li.text-bold-800.nameCon
										li.addressCon
										li.phoneCon 
								.col-md-6.col-sm-12.text-center.text-md-right
									ul.px-0.list-unstyled
										br
										li
											h4 Voucher Code: 
												span.blue #{code}
										br
										#qrcode2
										br
										p
											span.text-muted Auction Number:
											|  Auction #4
										p
											span.text-muted Auction Result Status: &nbsp
												span.btn.btn-sm.btn-outline-warning.warning For Claiming
											
						
														
								
							.row
								.table-responsive.col-sm-12
									table.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
										thead
											tr
												th Item ID
												th Qty
												th Item Name
												th Hammer Price
												th Commission
												th Payable
												th OR
										tbody
											-if(dataRes)
												tr
													td(colspan="7")
														h4.text-center(style='color:green; font-weight: bold; font-size: 15px;') Payable
												-var exer = 0	
												-for(var i = 0; i < dataRes.length; i++)
													-if(dataRes[i].booType == 1)
														-exer = 1
														tr
															td #{dataRes[i].strARItemID}
															td #{dataRes[i].intARQTY}
															-if(dataRes[i].strARItemID.charAt(0) == 'B')
																td #{dataRes[i].strARJson}
															-else
																-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																	-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																		-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																	-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																		-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																	-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																		-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																	-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																		-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																-console.log(valuesOnly)
																-var desc = dataRes[i].strARJson.Item+' ' 
																-for(var x = 1; x < valuesOnly.length; x++)
																	-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																		-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																			-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																							-desc = desc+' '+valuesOnly[x]
																-var s = desc.split(' ');
																
																td 
																	
																	-for(var t = 0; t < s.length; t++)
																		-if(t % 2 != 0)
																			br
																			| #{s[t]} 
																		-else
																			span #{s[t]} 
															td P#{(dataRes[i].dblHammerPrice).toFixed(2)}
															td P#{(dataRes[i].dblCommission).toFixed(2)}
															-revenue = revenue + parseFloat(dataRes[i].dblHammerPrice)
															-commission = commission + parseFloat(dataRes[i].dblCommission)
															-totality = totality + (parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)))
															td P#{parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)).toFixed(2)}
															td #{dataRes[i].intARReceiptID}
													-if(i == dataRes.length - 1 && exer == 0)
														tr
															td(colspan="7")
																h4.text-center(style='font-size: 15px;') --Nothing On Here--
										
										
											-if(dataRes)										
												tr
													td(colspan="7")
														h4.text-center(style='color: red; font-weight: bold; font-size: 15px;') Cancelled
												-var exer = 0;
												-for(var i = 0; i < dataRes.length; i++)
													-if(dataRes[i].booType == 2)
														-exer = 1;
														tr
															td #{dataRes[i].strARItemID}
															td #{dataRes[i].intARQTY}
															-if(dataRes[i].strARItemID.charAt(0) == 'B')
																td #{dataRes[i].strARJson}
															-else
																-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																	-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																		-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																	-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																		-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																	-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																		-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																	-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																		-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																-console.log(valuesOnly)
																-var desc = dataRes[i].strARJson.Item+' ' 
																-for(var x = 1; x < valuesOnly.length; x++)
																	-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																		-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																			-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																							-desc = desc+' '+valuesOnly[x]
																-var s = desc.split(' ');
																
																td 
																	
																	-for(var t = 0; t < s.length; t++)
																		-if(t % 2 != 0)
																			br
																			| #{s[t]} 
																		-else
																			span #{s[t]} 
															td
															td
															td
															td
													-if(i == dataRes.length - 1 && exer == 0)
														tr
															td(colspan="7")
																h4.text-center(style='font-size: 15px;') --Nothing On Here--

										
											-if(dataRes)
												tr
													td(colspan="7")
														h4.text-center(style='color: blue; font-weight: bold; font-size: 15px;') Unsold
												-var exer = 0;												
												-for(var i = 0; i < dataRes.length; i++)
													-if(dataRes[i].booType == 3)
														-exer = 1
														tr
															td #{dataRes[i].strARItemID}
															td #{dataRes[i].intARQTY}
															-if(dataRes[i].strARItemID.charAt(0) == 'B')
																td #{dataRes[i].strARJson}
															-else
																-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																	-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																		-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
																-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																	-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																		-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
																-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																	-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																		-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
																-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																	-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																		-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
																-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
																-console.log(valuesOnly)
																-var desc = dataRes[i].strARJson.Item+' ' 
																-for(var x = 1; x < valuesOnly.length; x++)
																	-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																		-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																			-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																						-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																							-desc = desc+' '+valuesOnly[x]																	
																-var s = desc.split(' ');
																
																td 
																	
																	-for(var t = 0; t < s.length; t++)
																		-if(t % 2 != 0)
																			br
																			| #{s[t]} 
																		-else
																			span #{s[t]} 
															td 
															td 
															td
															td
													-if(i == dataRes.length - 1 && exer == 0)
														tr
															td(colspan="7")
																h4.text-center(style='font-size: 15px;') --Nothing On Here--
								
											-if(dataRes)
												tr
													td(colspan="7")
														h4.text-center(style='color: orange; font-weight: bold; font-size: 15px;') Issues
												-var exer = 0;			
												-for(var i = 0; i < dataRes.length; i++)
													-if(dataRes[i].booType == 4)
														-exer = 1
														tr
															td #{dataRes[i].strARItemID}
															td #{dataRes[i].intARQTY}
															-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																	-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
															-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																	-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
															-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																	-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
															-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																	-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
															-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
															-console.log(valuesOnly)
															-var desc = dataRes[i].strARJson.Item+' ' 
															-for(var x = 1; x < valuesOnly.length; x++)
																-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																	-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																		-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																			-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																						-desc = desc+' '+valuesOnly[x]
																-var s = desc.split(' ');
																
																td 
																	
																	-for(var t = 0; t < s.length; t++)
																		-if(t % 2 != 0)
																			br
																			| #{s[t]} 
																		-else
																			span #{s[t]} 
															td 
															td 
															-totality = totality + (parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)))
											
															td P#{parseFloat(parseFloat(dataRes[i].dblHammerPrice) - parseFloat(dataRes[i].dblCommission)).toFixed(2)} 	
															td 
													-if(i == dataRes.length - 1 && exer == 0)
														tr
															td(colspan="7")
																h4.text-center(style='font-size: 15px;') --Nothing On Here--
											
											-if(dataRes)
												tr
													td(colspan="7")
														h4.text-center(style='color: violet; font-weight: bold; font-size: 15px;') Pull-out
												-var exer = 0;			
												-for(var i = 0; i < dataRes.length; i++)
													-if(dataRes[i].booType == 5)
														-exer = 1
														tr
															td #{dataRes[i].strARItemID}
															td #{dataRes[i].intARQTY}
															-if(dataRes[i].strARJson.hasOwnProperty('screensize'))
																-if(!dataRes[i].strARJson.screensize.indexOf('screensize'))
																	-dataRes[i].strARJson['screensize'] = dataRes[i].strARJson['screensize']+' inches';						
															-if(dataRes[i].strARJson.hasOwnProperty('wattage'))
																-if(dataRes[i].strARJson.wattage.indexOf('watts') < 0)
																	-dataRes[i].strARJson['wattage'] = dataRes[i].strARJson['wattage']+' watts';
															-if(dataRes[i].strARJson.hasOwnProperty('storage') && dataRes[i].strARJson.category == "Mobile")
																-if(!dataRes[i].strARJson.storage.indexOf('storage'))
																	-dataRes[i].strARJson['storage'] = dataRes[i].strARJson['storage']+' GB';
															-if(dataRes[i].strARJson.hasOwnProperty('ram'))
																-if(!dataRes[i].strARJson.ram.indexOf('RAM'))
																	-dataRes[i].strARJson['ram'] = 'RAM '+dataRes[i].strARJson['ram']+' GB';
															-var valuesOnly = Object.values(dataRes[i].strARJson)//-array values
															-console.log(valuesOnly)
															-var desc = dataRes[i].strARJson.Item+' ' 
															-for(var x = 1; x < valuesOnly.length; x++)
																-if(!(Object.keys(dataRes[i].strARJson)[x] == "UOM"))
																	-if(!(Object.keys(dataRes[i].strARJson)[x] == "price")) 
																		-if(!(Object.keys(dataRes[i].strARJson)[x] == "quantity")) 
																			-if(!(Object.keys(dataRes[i].strARJson)[x] == "description")) 
																				-if(!(Object.keys(dataRes[i].strARJson)[x] == "id"))
																					-if(!(Object.keys(dataRes[i].strARJson)[x] == "category"))
																						-desc = desc+' '+valuesOnly[x]
																-var s = desc.split(' ');
																
																td 
																	
																	-for(var t = 0; t < s.length; t++)
																		-if(t % 2 != 0)
																			br
																			| #{s[t]} 
																		-else
																			span #{s[t]}  
															td 
															td 
															td 
															td 
													-if(i == dataRes.length - 1 && exer == 0)
														tr
															td(colspan="7")
																h4.text-center(style='font-size: 15px;') --Nothing On Here--
											
							.row
								.col-md-7.col-sm-12.text-center.text-md-left
									p.lead Payment Methods:
									.row
										.col-md-8
											table.table.table-borderless.table-sm
												tbody
													tr
														td Check Payable to:
														td.checkPayableTo.text-right
													tr
														td Representative Name:
														td.RepName.text-right
													tr
														td Date Claimed:
														td.text-right --
								.col-md-5.col-sm-12
									p.lead Total due
									.table-responsive
										table.table
											tbody
												tr
													td 
														h6 Total Revenue
													td.text-right P#{revenue.toFixed(2)}
												tr
													td
														h6 Commission
													td.pink.text-right (-) P#{commission.toFixed(2)}
																								
												tr.bg-grey.bg-lighten-4
													td
														h4.text-bold-800 Net Payable
													td.text-bold-800.text-right P#{totality.toFixed(2)}
						
					
		footer.footer.footer-transparent.footer-light.navbar-shadow
			p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2.container.center-layout
				span.float-md-left.d-block.d-md-inline-block
					| Copyright © 2018 
					a.text-bold-800.grey.darken-2(href='https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT 
					| , All rights reserved.
				span.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block
				
					| Hand-crafted & Made with 
					i.ft-heart.pink
		input#hostname(type='hidden' value=hostname)
		input#port(type='hidden' value=port)
		// BEGIN VENDOR JS
		script(src='/assets/vendors/js/vendors.min.js', type='text/javascript')
		// BEGIN VENDOR JS
		// BEGIN PAGE VENDOR JS
		script(src='/assets/vendors/js/charts/chart.min.js', type='text/javascript')
		script(type='text/javascript', src='/assets/vendors/js/ui/jquery.sticky.js')
		script(src='/assets/vendors/js/charts/chartist.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/chartist-plugin-tooltip.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/raphael-min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/morris.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js', type='text/javascript')
		script(src='/assets/data/jvector/visitor-data.js', type='text/javascript')
		script(src='/assets/vendors/js/timeline/horizontal-timeline.js', type='text/javascript')
		script(src='/assets/vendors/js/qrcode.js', type='text/javascript')
		script(src='/assets/vendors/js/jquery.form.js', type='text/javascript')
		script(src='/assets/vendors/js/sigpad.js', type='text/javascript')
		script(src='/assets/vendors/js/sweetalert.js', type='text/javascript')

		// END PAGE VENDOR JS
		// BEGIN MODERN JS
		script(src='/assets/js/core/app-menu.min.js', type='text/javascript')
		script(src='/assets/js/core/app.min.js', type='text/javascript')
		script(src='/assets/js/scripts/customizer.min.js', type='text/javascript')
		// END MODERN JS
		// BEGIN PAGE LEVEL JS
		script(src='/assets/js/scripts/pages/dashboard-ecommerce.min.js', type='text/javascript')
		script(src='/socket.io/socket.io.js')
		script(src='/assets/vendors/js/notification.js', type='text/javascript')
		//- script(src='/assets/js/scripts/pages/dashboard-sales.min.js', type='text/javascript')
		//- script(src='/assets/js/scripts/cards/card-charts.min.js', type='text/javascript')
		// END PAGE LEVEL JS
		script.
			

			$(document).ready(function(){
				var sign = !{JSON.stringify(sign)}
				var intAuctionID = !{JSON.stringify(intAuctionID)}
				var intAuctionResultID = !{JSON.stringify(insertId)}
				var intARConsignorID = !{JSON.stringify(dataRes[0].intARConsignorID)}
				$.post('/getinfo/consignor', {
					intConsignorID: intARConsignorID,
				}).then(function(data){
					if(data.indicator){
						console.log(data)
						$('#nameCon').text(data.info.strName)
						$('#consignorName').text(data.info.strName)
						$('#addressCon').text(data.info.strAddress)
						$('#phoneCon').text(data.info.strPhone)
					}
				})

				var canvas = document.getElementById("signature-pad");
				var signaturePad = new SignaturePad(canvas, {backgroundColor: 'rgb(255, 255, 255)'});
				
				
				$('#undo1').click(function(){	
					signaturePad.clear()
				})

				var canvas2 = document.getElementById("signature-pad2");
				var signaturePad2 = new SignaturePad(canvas2, {backgroundColor: 'rgb(255, 255, 255)'});
				
				
				$('#undo2').click(function(){	
					signaturePad2.clear()
				})

				$(document).on('click', '#confirm', function(){
					$('#signatureModal').modal('toggle');

				})

				$(document).on('click', '#releaseCheck', function(){

					if (signaturePad.isEmpty() || signaturePad2.isEmpty()){
						swal({
							title: 'No Signature',
							icon: 'error',
							text: 'Pleas provide signatures in the given canvas.',
							button: 'Okay',
						})
					}
					else{


						swal({
							title: 'Release Check?',
							text: 'This action cannot be undone. Are you sure?',
							icon: 'warning',
							buttons: {
								Cancel: 'Cancel',
								Sure: 'Sure',
							},
						}).then(function(value){
							if(value == 'Sure'){
								$.post('/auctionresult/submit', {
									signatureAdmin: signaturePad.toDataURL("image/jpeg"),
									signatureConsignor: signaturePad2.toDataURL("image/jpeg"),
									intAuctionResultID: intAuctionResultID,
								}).then(function(data){
									if(data.indicator){


										var
											closeInSeconds = 7,
											displayText = "",
											timer;

										swal({
											title: "Success",   
											text: "Please wait...",   
											timer: closeInSeconds * 1000,
											icon: 'success',
											button: false 
										});

										timer = setInterval(function() {

											closeInSeconds--;

											if (closeInSeconds < 0) {

												clearInterval(timer);
											}

											$('.sweet-alert > p').text(displayText.replace(/#1/, closeInSeconds));

										}, 1000);
										setTimeout(function(){
											location.href = `/consignor/auctionresult`;
										}, 7000)
									}
								})
							}
						})

					}
				});

				if(sign == 1){
					$.post('/consignorhome/payable', {
						intAuctionID: intAuctionID,
						intAuctionResultID: intAuctionResultID,
					}).then(function(data){
						if(data.indicator){
							//- alert('yup')
						}
					})
					$.post('/consignorhome/unsold', {
						intAuctionID: intAuctionID,
						intAuctionResultID: intAuctionResultID,
					}).then(function(data){
						if(data.indicator){
							//- alert('yup')
						}
					})
					$.post('/consignorhome/cancelled', {
						intAuctionID: intAuctionID,
						intAuctionResultID: intAuctionResultID,
					}).then(function(data){
						if(data.indicator){
							//- alert('yup')
						}
					})

					$.post('/consignorhome/pullout', {
						intAuctionID: intAuctionID,
						intAuctionResultID: intAuctionResultID,
					}).then(function(data){
						if(data.indicator){
							//- alert('yup')
						}
					})

					

					
				}
			})
	
		