doctype html
html.loading(lang='en', data-textdirection='ltr')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
		meta(name='description', content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
		meta(name='keywords', content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
		meta(name='author', content='PIXINVENT')
		title
			| AMSOB Admin | ID Types
		link(rel='apple-touch-icon', href='/assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='/assets/images/ico/favicon.ico')
		link(href='/assets/css/fonts.css', rel='stylesheet')
		link(href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css', rel='stylesheet')
		// BEGIN VENDOR CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/vendors.min.css')
		// END VENDOR CSS
		// BEGIN MODERN CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
		// END MODERN CSS
		// BEGIN Page Level CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/vertical-menu-modern.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/jquery-jvectormap-2.0.3.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/morris.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/simple-line-icons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css' href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/formValidation.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/extensions/responsive.dataTables.min.css')
		link(rel="stylesheet" type="text/css" href="/assets/vendors/css/extensions/toastr.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/plugins/extensions/toastr.min.css")
		link(rel="stylesheet", href="/assets/vendors/css/extensions/sweetalert.css")
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-callout.min.css')
		// END Page Level CSS
		// BEGIN Custom CSS
		link(rel='stylesheet', type='text/css', href='../../../assets/css/style.css')
		// END Custom CSS
		style.
			.has-error .control-label,
			.has-error .help-block,
			.has-error .form-control-feedback {
				color: #a94442;
			}

			/* Color of valid field */
			.has-success .control-label,
			.has-success .help-block,
			.has-success .form-control-feedback {
				color: #3c763d;
			}
			.form-group.has-feedback.has-error .form-control,
			.form-group.has-feedback.has-error .select2-selection.select2-selection--single,
			.form-group.has-feedback.has-error .select2-selection.select2-selection--single:focus{
				border: 1px solid #a94442 !important;
			}
			.form-group.has-feedback.has-success .form-control,
			.form-group.has-feedback.has-success .select2-selection.select2-selection--single,
			.form-group.has-feedback.has-success .select2-selection.select2-selection--single:focus{
				border: 1px solid #3c763d !important;
			}

			.form-control-feedback.fa.fa-check{
				z-index: 1;
				position: absolute;
				width: auto;
				bottom: 35px;
				right: 24px;
				margin-top: 0;
			}
			.form-control-feedback.fa.fa-times {
				z-index: 1;
				position: absolute;
				width: auto;
				bottom: 54px;
				right: 24px;
				margin-top: 0;
			}
	body.vertical-layout.vertical-menu-modern.2-columns.menu-expanded.fixed-navbar(data-open='click', data-menu='vertical-menu-modern', data-col='2-columns')
		// fixed-top
		nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.fixed-top.navbar-shadow.navbar-semi-light.bg-gradient-x-blue
			.navbar-wrapper
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mobile-menu.d-md-none.mr-auto
							a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
								i.ft-menu.font-large-1
						li.nav-item.mr-auto
							a.navbar-brand(href='index.html')
								img.brand-logo(alt='modern admin logo', src='/assets/images/logo/logo.png')
								h3.brand-text AMSOB
						li.nav-item.d-none.d-md-block.float-right
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.toggle-icon.ft-toggle-right.font-medium-3.white(data-ticon='ft-toggle-right')
						li.nav-item.d-md-none
							a.nav-link.open-navbar-container(data-toggle='collapse', data-target='#navbar-mobile')
								i.la.la-ellipsis-v
				.navbar-container.content
					#navbar-mobile.collapse.navbar-collapse
						ul.nav.navbar-nav.mr-auto.float-left
							li.nav-item.d-none.d-md-block
								a.nav-link.nav-link-expand(href='#')
									i.ficon.ft-maximize
							
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									span.mr-1
										| Hello,
										span.user-name.text-bold-700 #{session.user.strEmployeeFirstName} #{session.user.strEmployeeLastName}
									span.avatar.avatar-online
										img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
										i
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='#')
										i.ft-user
										|  Edit Profile
									a.dropdown-item(href='#')
										i.ft-mail
										|  My Inbox
									a.dropdown-item(href='#')
										i.ft-check-square
										|  Task
									a.dropdown-item(href='#')
										i.ft-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='/logout')
										i.ft-power
										|  Logout
							li.dropdown.dropdown-language.nav-item
								a#dropdown-flag.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-gb
									span.selected-language
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-gb
										|  English
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-cn
										|  Chinese
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-de
										|  German
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-bell
									span.badge.badge-pill.badge-default.badge-danger.badge-default.badge-up.badge-glow#numberNotif 
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Notifications
									li.scrollable-container.media-list.w-100#notificationField
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-mail              
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Messages
										span.notification-tag.badge.badge-default.badge-warning.float-right.m-0 4 New
									li.scrollable-container.media-list.w-100
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
														i
												.media-body
													h6.media-heading Margaret Govan
													p.notification-text.font-small-3.text-muted I like your portfolio, let's start.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-busy.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-2.png', alt='avatar')
														i
												.media-body
													h6.media-heading Bret Lezama
													p.notification-text.font-small-3.text-muted I have seen your work, there is
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-3.png', alt='avatar')
														i
												.media-body
													h6.media-heading Carie Berra
													p.notification-text.font-small-3.text-muted Can we have call in this week ?
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-away.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-6.png', alt='avatar')
														i
												.media-body
													h6.media-heading Eric Alsobrook
													p.notification-text.font-small-3.text-muted We have project party this saturday.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all messages
		// ////////////////////////////////////////////////////////////////////////////
		.main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow(data-scroll-to-active='true')
			.main-menu-content
				ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
					li.nav-item
						a(href='/')
							i.fa.fa-dashboard
							span.menu-title Dashboard
					li.nav-item
						a(href='#')
							i.fa.fa-wrench
							span.menu-title Maintenance
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor
									li
										a.menu-item(href='/consignment/maintenance', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignment
									li
										a.menu-item(href='/bundle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bundle
									li
										a.menu-item(href='/assets', data-i18n='nav.menu_levels.second_level_child.third_level_child') Assets
									li
										a.menu-item(href='/inventory', data-i18n='nav.menu_levels.second_level_child.third_level_child') Inventory
									li
										a.menu-item(href='/lostanddamage', data-i18n='nav.menu_levels.second_level_child.third_level_child') Lost and Damage
									li
										a.menu-item(href='/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidders
									li
										a.menu-item(href='/auction', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Schedule
									li
										a.menu-item(href='/maintenance/auctionresults', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Results
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') User Management
								ul.menu-content
									li
										a.menu-item(href='/uom', data-i18n='nav.menu_levels.second_level_child.third_level_child') Unit of Measurement
									li
										a.menu-item(href='/idtypes', data-i18n='nav.menu_levels.second_level_child.third_level_child') ID Types
									li
										a.menu-item(href='/jobtitle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Job Title
									li
										a.menu-item(href='/employee', data-i18n='nav.menu_levels.second_level_child.third_level_child') Employee
					li.nav-item
						a(href='javascript:void(0)')
							i.fa.fa-handshake-o
							span.menu-title Transaction
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/evaluation/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor Evaluation
									li
										a.menu-item(href='/consignment', data-i18n='nav.menu_levels.second_level_child.third_level_child') Asset Receiving
									li
										a.menu-item(href='/consignor/auctionresult', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignor Payment
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Online Bidding
								ul.menu-content
									li
										a.menu-item(href='/evaluation/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Bidder Evaluation
									li
										a.menu-item(href='/verify/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidder Verification
									li
										a.menu-item(href='/awards', data-i18n='nav.menu_levels.second_level_child.third_level_child') Awards
									li
										a.menu-item(href='/delivery', data-i18n='nav.menu_levels.second_level_child.third_level_child') Delivery
					li.nav-item
						a(href='/queries')
							i.fa.fa-list
							span.menu-title Queries
					li.nav-item
						a(href='/reports/sales')
							i.fa.fa-line-chart
							span.menu-title Reports
					li.nav-item
						a(href='/utilities')
							i.fa.fa-cogs
							span.menu-title Utilities
		.app-content.content
			.content-wrapper
				.content-header.row
					.content-header-left.col-md-6.col-12.mb-2.breadcrumb-new
						h3.content-header-title.mb-0.d-inline-block ID Types
						.row.breadcrumbs-top.d-inline-block
							.breadcrumb-wrapper.col-12
								ol.breadcrumb
									li.breadcrumb-item
										a(href='#') Maintenance
									li.breadcrumb-item
										a(href='#') Auction Management
									li.breadcrumb-item.active
										| ID Types
				.content-body
					.row
						.col-12
							.card
								.card-head
									.card-header
										h4.card-title ID Types
										a.heading-elements-toggle
											i.la.la-ellipsis-h.font-medium-3
										.heading-elements
											button.btn.btn-block.btn-primary.btn-sm(type='button' data-toggle='modal' data-target='#idTypeModal')
												i.ft-plus.white
												|  Create ID Type
								.card-content
									.card-body
										.table-responsive
											table#table.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
												thead
													tr
														th ID
														th Description
														th Format
														th Actions
												tbody
													each idtype in idtypes
														tr
															td #{idtype.intIDTypeID}
															td #{idtype.strIDTypeDesc}
															td #{idtype.strIDTypeFormat}
															td
																span.dropdown
																	button.btn.btn-info.dropdown-toggle.dropdown-menu-right(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
																		i.ft-settings
																	span.dropdown-menu.mt-1.dropdown-menu-right
																		a.delete.dropdown-item(href='javascript:void(0)' value=`${idtype.intIDTypeID}`)
																			i.ft-trash-2
																			|  Delete
																		a.edit.dropdown-item(data-toggle='modal' data-target='#editModal' value=`${idtype.intIDTypeID}`	)
																			i.icon-pencil
																			|  Edit
												tfoot
													tr
														th ID
														th Description
														th Format
														th Actions
		#idTypeModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog.modal-md(role='document')
				.modal-content
					.modal-header(style='border-bottom: none;')
						h4.modal-title.text-center 
							img(src='/assets/images/logo/logo-dark.png', alt='branding logo')
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
							h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
								span Create ID Type
						.row
							.col-12
								.card-content.collapse.show
									.card-body
										form#idTypeForm
											fieldset
												.row
													.col-md-12
														.form-group
															label ID Name/Description
																small(style='color:red;') *
															input#idDesc.form-control(type='text' name='idDescription' placeholder=`E.g Voter's ID`)
												br
												.row
													.col-md-12
														.bs-callout-warning.callout-border-left.callout-bordered.p-1
															h4.warning Note:
															p
																| Use the following:
																br
																| 0 - Numeric Characters.
																br
																| A - Alphabetical Characters.
												.row
													.col-md-12
														.form-group
															label ID Format
																small(style='color:red;') *
															input#idFormat.form-control(type='text' name='idFormat' placeholder='E.g VT-9999')
												br
												br
												.row
													.col-md-12
														button.btn.btn-success#submitButton(style='float:right;') Submit
			
		#editModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
			.modal-dialog.modal-md(role='document')
				.modal-content
					.modal-header(style='border-bottom: none;')
						h4.modal-title.text-center 
							img(src='/assets/images/logo/logo-dark.png', alt='branding logo')
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body
						.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
							h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
								span Edit ID Type
						.row
							.col-12
								.card-content.collapse.show
									.card-body
										form#editForm
											fieldset
												.row
													.col-md-12
														.form-group
															label ID Name/Description
																small(style='color:red;') *
															input#editDesc.form-control(type='text' name='Description' placeholder=`E.g Voter's ID`)
												br
												.row
													.col-md-12
														.bs-callout-warning.callout-border-left.callout-bordered.p-1
															h4.warning Note:
															p
																| Use the following:
																br
																| 9 - Numeric Characters.
																br
																| a - Alphabetical Characters.
																br
																| * - Alphanumeric Characters.
												.row
													.col-md-12
														.form-group
															label ID Format
																small(style='color:red;') *
															input#editFormat.form-control(type='text' name='Format' placeholder='E.g VT-9999')
												br
												br
												.row
													.col-md-12
														button.btn.btn-success#editButton(style='float:right;') Submit

				// Analytics map based session
		// ///////////////////////////////////////////////////////////////////////////
		footer.footer.footer-static.footer-light.navbar-border.navbar-shadow
			p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
				span.float-md-left.d-block.d-md-inline-block
					| Copyright © 2018 
					a.text-bold-800.grey.darken-2(href='https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') AMSOB
					| , All rights reserved.
				span.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block
					| Polytechnic University of the Philippines &nbsp
					i.ft-heart.pink
		input#hostname(type='hidden' value=hostname)
		input#port(type='hidden' value=port)
		// BEGIN VENDOR JS
		script(src='/assets/vendors/js/vendors.min.js', type='text/javascript')
		// BEGIN VENDOR JS
		// BEGIN PAGE VENDOR JS
		script(src='/assets/vendors/js/charts/chart.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/raphael-min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/morris.min.js', type='text/javascript')
		script(src='/assets/vendors/js/sweetalert.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js', type='text/javascript')
		script(src='/assets/data/jvector/visitor-data.js', type='text/javascript')
		// END PAGE VENDOR JS
		// BEGIN MODERN JS
		script(src='/assets/js/core/app-menu.min.js', type='text/javascript')
		script(src='/assets/js/core/app.min.js', type='text/javascript')
		script(src='/assets/js/scripts/customizer.min.js', type='text/javascript')
		// END MODERN JS
		// BEGIN PAGE LEVEL JS
		script(src='/assets/js/scripts/pages/dashboard-sales.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/jquery.dataTables.min.js', type='text/javascript')
		script(src='/assets/vendors/js/formValidation.js', type='text/javascript')
		script(src='/assets/vendors/js/bootstrap.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.responsive.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js', type='text/javascript')
		script(src="/assets/vendors/js/extensions/toastr.min.js" type="text/javascript")
		script(src='/socket.io/socket.io.js')
		script(src='/assets/vendors/js/notification.js', type='text/javascript')
		// END PAGE LEVEL JS
		script.
			$(document).ready(function(){
				var id;
				$('#table').dataTable();
				$(document).on('click', '#submitButton', function(){
					var valid = $('#idTypeForm').data('formValidation').validate().isValid();
					if(valid == true){
						var description = $('#idDesc').val();
						var format = $('#idFormat').val()
						$.post('/idtypes', {desc: description, format: format})
						.done(function(data){
							var table = $('#table').DataTable();
							var row = $(`<tr>
								<td>${data.id}</td>
								<td>${description}</td>
								<td>${format}</td>
								<td><span class="dropdown">
										<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-info dropdown-toggle dropdown-menu-right"><i class="ft-settings"></i></button>
											<span class="dropdown-menu mt-1 dropdown-menu-right"><a href="javascript:void(0)" value="${data.id}" class="delete dropdown-item">
											<i class="ft-trash-2"></i> Delete</a><a href="javascript:void(0)" value="${data.idtypes[i].intIDTypeID}" class="edit dropdown-item">
											<i class="icon-pencil"></i> Edit</a>
											</span>
									</span></td>
								</tr>`
							)
							table.row.add(row).draw();
							toastr.success("Yay, you have successfully added an ID Type","Success!",{
								showMethod:"slideDown",
								hideMethod:"slideUp",
								positionClass:"toast-bottom-right",
								timeOut:5000
							})
							$('#idTypeModal').modal('toggle');
						})
					}
				})
				$(document).on('click', '.edit', function(){
					$(document).on('keypress', function(e) {
							$(document).off('keypress')					
							if(e.which == 13) {
								$('#submitButton').trigger('click');
							}
						});
				})
				$(document).on('click', '.edit', function(){
					id = $(this).attr('value');
					//- alert(id)
					$.post('/idtypes/view', {id: $(this).attr('value')})
					.done(function(data){
						$('#editModal').modal('show');
						$('#editDesc').val(data.idtypes.strIDTypeDesc);
						$('#editFormat').val(data.idtypes.strIDTypeFormat);

						$(document).on('keypress', function(e) {
							$(document).off('keypress')					
							if(e.which == 13) {
								$('#editButton').trigger('click');
							}
						});	
					})
				})
				$(document).on('click', '#editButton', function(){
					var valid = $('#editForm').data('formValidation').validate().isValid();
					if(valid == true){
						var description = $('#editDesc').val();
						var format = $('#editFormat').val()
						$.post('/idtypes/edit', {desc: description, format: format, id})
						.done(function(data){
						var tableDelete = $('#table').DataTable();
						tableDelete.clear();
						for(var i=0; i<data.idtypes.length;i++){
							var rowDelete = $(`<tr>
								<td>${data.idtypes[i].intIDTypeID}</td>
								<td>${data.idtypes[i].strIDTypeDesc}</td>
								<td>${data.idtypes[i].strIDTypeFormat}</td>
								<td><span class="dropdown">
										<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-info dropdown-toggle dropdown-menu-right"><i class="ft-settings"></i></button>
											<span class="dropdown-menu mt-1 dropdown-menu-right"><a href="javascript:void(0)" value="${data.idtypes[i].intIDTypeID}" class="delete dropdown-item">
											<i class="ft-trash-2"></i> Delete</a><a href="javascript:void(0)" value="${data.idtypes[i].intIDTypeID}" class="edit dropdown-item">
											<i class="icon-pencil"></i> Edit</a>
											</span>
									</span></td>
								</tr>`
							)
							tableDelete.row.add(rowDelete);
						}
							tableDelete.draw();
							toastr.success("Yay, you have successfully edited an ID Type","Success!",{
								showMethod:"slideDown",
								hideMethod:"slideUp",
								positionClass:"toast-bottom-right",
								timeOut:5000
							})
							$('#editModal').modal('toggle');
						})
					}
				})
				$(document).on('click', '.delete', function(){
					$.post('/idtypes/delete', {id: $(this).attr('value')})
					.done(function(data){
						var tableDelete = $('#table').DataTable();
						tableDelete.clear();
						for(var i=0; i<data.idtypes.length;i++){
							var rowDelete = $(`<tr>
								<td>${data.idtypes[i].intIDTypeID}</td>
								<td>${data.idtypes[i].strIDTypeDesc}</td>
								<td>${data.idtypes[i].strIDTypeFormat}</td>
								<td><span class="dropdown">
										<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-info dropdown-toggle dropdown-menu-right"><i class="ft-settings"></i></button>
											<span class="dropdown-menu mt-1 dropdown-menu-right"><a href="javascript:void(0)" value="${data.idtypes[i].intIDTypeID}" class="delete dropdown-item">
											<i class="ft-trash-2"></i> Delete</a><a href="javascript:void(0)" value="${data.idtypes[i].intIDTypeID}" class="edit dropdown-item">
											<i class="icon-pencil"></i> Edit</a>
											</span>
									</span></td>
								</tr>`
							)
							tableDelete.row.add(rowDelete);
						}
						tableDelete.draw();
						toastr.success("Yay, you have successfully deleted an ID Type","Success!",{
							showMethod:"slideDown",
							hideMethod:"slideUp",
							positionClass:"toast-bottom-right",
							timeOut:5000
						})
					})
				});
				$('#idTypeModal').on('hidden.bs.modal', function(){
					$('#idDesc').val('');
					$('#idFormat').val('')
				})
				$('#idTypeForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields:{
						idDescription: {
							validators: {
								notEmpty: {
									message: `Please Enter Description for this ID`
								}
							}
						},
						idFormat: {
							validators: {
								notEmpty: {
									message: `Please Enter Format for this ID`
								}
							}
						},
					},
				})

				
				$('#editForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields:{
						Description: {
							validators: {
								notEmpty: {
									message: `Please Enter Description for this ID`
								}
							}
						},
						Format: {
							validators: {
								notEmpty: {
									message: `Please Enter Format for this ID`
								}
							}
						},
					},
				})
			});
