doctype html
html.loading(lang='en', data-textdirection='ltr')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
		meta(name='description', content='Modern admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.')
		meta(name='keywords', content='admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard')
		meta(name='author', content='PIXINVENT')
		title
			| AMSOB Admin | Consignor Payment
		//- new
		link(rel='apple-touch-icon', href='/assets/images/ico/apple-icon-120.png')
		link(rel='shortcut icon', type='image/x-icon', href='/assets/images/ico/favicon.ico')
		link(href='/assets/css/fonts.css', rel='stylesheet')
		link(href='https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css', rel='stylesheet')
		// BEGIN VENDOR CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/vendors.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/pickers/daterange/daterangepicker.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/forms/selects/select2.min.css')
		// END VENDOR CSS
		// BEGIN MODERN CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
		// END MODERN CSS
		// BEGIN Page Level CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/core/menu/menu-types/vertical-menu-modern.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/plugins/animate/animate.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/forms/icheck/icheck.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/plugins/forms/wizard.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/forms/icheck/custom.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/jquery-jvectormap-2.0.3.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/charts/morris.css')
		link(rel='stylesheet', type='text/css', href='/assets/fonts/simple-line-icons/style.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-gradient.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/tables/extensions/responsive.dataTables.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/plugins/pickers/daterange/daterange.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/plugins/forms/checkboxes-radios.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/plugins/forms/extended/form-extended.min.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/dropify.css')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/formValidation.css')
		link(rel='stylesheet', type='text/css', href='/assets/css/core/colors/palette-callout.min.css')

		
		// END Page Level CSS
		// BEGIN Custom CSS
		link(rel='stylesheet', type='text/css', href='/assets/css/style.css')
		// END Custom CSS
		style.
			.has-error .control-label,
			.has-error .help-block,
			.has-error .form-control-feedback {
				color: #a94442;
			}

			/* Color of valid field */
			.has-success .control-label,
			.has-success .help-block,
			.has-success .form-control-feedback {
				color: #3c763d;
			}
			.form-group.has-feedback.has-error .form-control,
			.form-group.has-feedback.has-error .select2-selection.select2-selection--single,
			.form-group.has-feedback.has-error .select2-selection.select2-selection--single:focus{
				border: 1px solid #a94442 !important;
			}
			.form-group.has-feedback.has-success .form-control,
			.form-group.has-feedback.has-success .select2-selection.select2-selection--single,
			.form-group.has-feedback.has-success .select2-selection.select2-selection--single:focus{
				border: 1px solid #3c763d !important;
			}

			.form-control-feedback.fa.fa-check{
				z-index: 1;
				position: absolute;
				width: auto;
				bottom: 35px;
				right: 24px;
				margin-top: 0;
			}
			.form-control-feedback.fa.fa-times {
				z-index: 1;
				position: absolute;
				width: auto;
				bottom: 54px;
				right: 24px;
				margin-top: 0;
			}
			.swal-button.swal-button--DontSave{
				background-color: #FF4961 !important;
			}
			.swal-button.swal-button--Save{
				background-color: #28D094 !important;
			}
		



	body.vertical-layout.vertical-menu-modern.2-columns.menu-expanded.fixed-navbar(data-open='click', data-menu='vertical-menu-modern', data-col='2-columns')
		
		// fixed-top
		nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.navbar-without-dd-arrow.fixed-top.navbar-shadow.navbar-semi-light.bg-gradient-x-blue
			.navbar-wrapper
				.navbar-header
					ul.nav.navbar-nav.flex-row
						li.nav-item.mobile-menu.d-md-none.mr-auto
							a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
								i.ft-menu.font-large-1
						li.nav-item.mr-auto
							a.navbar-brand(href='index.html')
								img.brand-logo(alt='modern admin logo', src='/assets/images/logo/logo.png')
								h3.brand-text AMSOB
						li.nav-item.d-none.d-md-block.float-right
							a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
								i.toggle-icon.ft-toggle-right.font-medium-3.white(data-ticon='ft-toggle-right' style='color: blue !important')
						li.nav-item.d-md-none
							a.nav-link.open-navbar-container(data-toggle='collapse', data-target='#navbar-mobile')
								i.la.la-ellipsis-v
				.navbar-container.content
					#navbar-mobile.collapse.navbar-collapse
						ul.nav.navbar-nav.mr-auto.float-left
							li.nav-item.d-none.d-md-block
								a.nav-link.nav-link-expand(href='#')
									i.ficon.ft-maximize
							li.dropdown.nav-item.mega-dropdown
								a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown') Mega
								ul.mega-dropdown-menu.dropdown-menu.row
									li.col-md-2
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-newspaper-o
											|  News
										#mega-menu-carousel-example
											div
												img.rounded.img-fluid.mb-1(src='/assets/images/slider/slider-2.png', alt='First slide')
												a.news-title.mb-0(href='#') Poster Frame PSD
												p.news-content
													span.font-small-2 January 26, 2018
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-random
											|  Drill down menu
										ul.drilldown-menu
											li.menu-list
												ul
													li
														a.dropdown-item(href='layout-2-columns.html')
															i.ft-file
															|  Page layouts & Templates
													li
														a(href='#')
															i.ft-align-left
															|  Multi level menu
														ul
															li
																a.dropdown-item(href='#')
																	i.la.la-bookmark-o
																	|   Second level
															li
																a(href='#')
																	i.la.la-lemon-o
																	|  Second level menu
																ul
																	li
																		a.dropdown-item(href='#')
																			i.la.la-heart-o
																			|   Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-file-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-trash-o
																			|  Third level
																	li
																		a.dropdown-item(href='#')
																			i.la.la-clock-o
																			|  Third level
															li
																a.dropdown-item(href='#')
																	i.la.la-hdd-o
																	|  Second level, third link
															li
																a.dropdown-item(href='#')
																	i.la.la-floppy-o
																	|  Second level, fourth link
													li
														a.dropdown-item(href='color-palette-info.html')
															i.ft-camera
															|  Color palette system
													li
														a.dropdown-item(href='sk-2-columns.html')
															i.ft-edit
															|  Page starter kit
													li
														a.dropdown-item(href='changelog.html')
															i.ft-minimize-2
															|  Change log
													li
														a.dropdown-item(href='https://pixinvent.ticksy.com/')
															i.la.la-life-ring
															|  Customer support center
									li.col-md-3
										h6.dropdown-menu-header.text-uppercase
											i.la.la-list-ul
											|  Accordion
										#accordionWrap(role='tablist', aria-multiselectable='true')
											.card.border-0.box-shadow-0.collapse-icon.accordion-icon-rotate
												#headingOne.card-header.p-0.pb-2.border-0(role='tab')
													a(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionOne', aria-expanded='true', aria-controls='accordionOne') Accordion Item #1
												#accordionOne.card-collapse.collapse.show(role='tabpanel', aria-labelledby='headingOne', aria-expanded='true')
													.card-content
														p.accordion-text.text-small-3
															| Caramels dessert chocolate cake pastry jujubes bonbon.
															| Jelly wafer jelly beans. Caramels chocolate cake liquorice
															| cake wafer jelly beans croissant apple pie.
												#headingTwo.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionTwo', aria-expanded='false', aria-controls='accordionTwo') Accordion Item #2
												#accordionTwo.card-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo', aria-expanded='false')
													.card-content
														p.accordion-text
															| Sugar plum bear claw oat cake chocolate jelly tiramisu
															| dessert pie. Tiramisu macaroon muffin jelly marshmallow
															| cake. Pastry oat cake chupa chups.
												#headingThree.card-header.p-0.pb-2.border-0(role='tab')
													a.collapsed(data-toggle='collapse', data-parent='#accordionWrap', href='#accordionThree', aria-expanded='false', aria-controls='accordionThree') Accordion Item #3
												#accordionThree.card-collapse.collapse(role='tabpanel', aria-labelledby='headingThree', aria-expanded='false')
													.card-content
														p.accordion-text
															| Candy cupcake sugar plum oat cake wafer marzipan jujubes
															| lollipop macaroon. Cake dragée jujubes donut chocolate
															| bar chocolate cake cupcake chocolate topping.
									li.col-md-4
										h6.dropdown-menu-header.text-uppercase.mb-1
											i.la.la-envelope-o
											|  Contact Us
										form.form.form-horizontal
											.form-body
												.form-group.row
													label.col-sm-3.form-control-label(for='inputName1') Name
													.col-sm-9
														.position-relative.has-icon-left
															input#inputName1.form-control(type='text', placeholder='John Doe')
															.form-control-position.pl-1
																i.la.la-user
												.form-group.row
													label.col-sm-3.form-control-label(for='inputEmail1') Email
													.col-sm-9
														.position-relative.has-icon-left
															input#inputEmail1.form-control(type='email', placeholder='john@example.com')
															.form-control-position.pl-1
																i.la.la-envelope-o
												.form-group.row
													label.col-sm-3.form-control-label(for='inputMessage1') Message
													.col-sm-9
														.position-relative.has-icon-left
															textarea#inputMessage1.form-control(rows='2', placeholder='Simple Textarea')
															.form-control-position.pl-1
																i.la.la-commenting-o
												.row
													.col-sm-12.mb-1
														button.btn.btn-info.float-right(type='button')
															i.la.la-paper-plane-o
															|  Send
							li.nav-item.nav-search
								a.nav-link.nav-link-search(href='#')
									i.ficon.ft-search
								.search-input
									input.input(type='text', placeholder='Explore Modern...')
						ul.nav.navbar-nav.float-right
							li.dropdown.dropdown-user.nav-item
								a.dropdown-toggle.nav-link.dropdown-user-link(href='#', data-toggle='dropdown')
									span.mr-1
										| Hello,
										span.user-name.text-bold-700 #{session.user.strEmployeeFirstName} #{session.user.strEmployeeLastName}
									span.avatar.avatar-online
										img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
										i
								.dropdown-menu.dropdown-menu-right
									a.dropdown-item(href='#')
										i.ft-user
										|  Edit Profile
									a.dropdown-item(href='#')
										i.ft-mail
										|  My Inbox
									a.dropdown-item(href='#')
										i.ft-check-square
										|  Task
									a.dropdown-item(href='#')
										i.ft-message-square
										|  Chats
									.dropdown-divider
									a.dropdown-item(href='/logout')
										i.ft-power
										|  Logout
							li.dropdown.dropdown-language.nav-item
								a#dropdown-flag.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.flag-icon.flag-icon-gb
									span.selected-language
								.dropdown-menu(aria-labelledby='dropdown-flag')
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-gb
										|  English
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-fr
										|  French
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-cn
										|  Chinese
									a.dropdown-item(href='#')
										i.flag-icon.flag-icon-de
										|  German
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-bell
									span.badge.badge-pill.badge-default.badge-danger.badge-default.badge-up.badge-glow#numberNotif 
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Notifications
									li.scrollable-container.media-list.w-100#notificationField
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
							li.dropdown.dropdown-notification.nav-item
								a.nav-link.nav-link-label(href='#', data-toggle='dropdown')
									i.ficon.ft-mail              
								ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
									li.dropdown-menu-header
										h6.dropdown-header.m-0
											span.grey.darken-2 Messages
										span.notification-tag.badge.badge-default.badge-warning.float-right.m-0 4 New
									li.scrollable-container.media-list.w-100
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-19.png', alt='avatar')
														i
												.media-body
													h6.media-heading Margaret Govan
													p.notification-text.font-small-3.text-muted I like your portfolio, let's start.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-busy.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-2.png', alt='avatar')
														i
												.media-body
													h6.media-heading Bret Lezama
													p.notification-text.font-small-3.text-muted I have seen your work, there is
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-online.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-3.png', alt='avatar')
														i
												.media-body
													h6.media-heading Carie Berra
													p.notification-text.font-small-3.text-muted Can we have call in this week ?
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
										a(href='javascript:void(0)')
											.media
												.media-left
													span.avatar.avatar-sm.avatar-away.rounded-circle
														img(src='/assets/images/portrait/small/avatar-s-6.png', alt='avatar')
														i
												.media-body
													h6.media-heading Eric Alsobrook
													p.notification-text.font-small-3.text-muted We have project party this saturday.
													small
														time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
									li.dropdown-menu-footer
										a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all messages
		// ////////////////////////////////////////////////////////////////////////////
		// ////////////////////////////////////////////////////////////////////////////
		.main-menu.menu-fixed.menu-light.menu-accordion.menu-shadow(data-scroll-to-active='true')
			.main-menu-content
				ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
					li.nav-item
						a(href='/')
							i.fa.fa-dashboard
							span.menu-title Dashboard
					li.nav-item
						a(href='#')
							i.fa.fa-wrench
							span.menu-title Maintenance
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor
									li
										a.menu-item(href='/consignment/maintenance', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignment
									li
										a.menu-item(href='/bundle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bundle
									li
										a.menu-item(href='/assets', data-i18n='nav.menu_levels.second_level_child.third_level_child') Assets
									li
										a.menu-item(href='/inventory', data-i18n='nav.menu_levels.second_level_child.third_level_child') Inventory
									li
										a.menu-item(href='/lostanddamage', data-i18n='nav.menu_levels.second_level_child.third_level_child') Lost and Damage
									li
										a.menu-item(href='/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidders
									li
										a.menu-item(href='/auction', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Schedule
									li
										a.menu-item(href='/maintenance/auctionresults', data-i18n='nav.menu_levels.second_level_child.third_level_child') Auction Results
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') User Management
								ul.menu-content
									li
										a.menu-item(href='/uom', data-i18n='nav.menu_levels.second_level_child.third_level_child') Unit of Measurement
									li
										a.menu-item(href='/idtypes', data-i18n='nav.menu_levels.second_level_child.third_level_child') ID Types
									li
										a.menu-item(href='/jobtitle', data-i18n='nav.menu_levels.second_level_child.third_level_child') Job Title
									li
										a.menu-item(href='/employee', data-i18n='nav.menu_levels.second_level_child.third_level_child') Employee
					li.nav-item
						a(href='javascript:void(0)')
							i.fa.fa-handshake-o
							span.menu-title Transaction
						ul.menu-content
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Auction Management
								ul.menu-content
									li
										a.menu-item(href='/evaluation/consignor', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Consignor Evaluation
									li
										a.menu-item(href='/consignment', data-i18n='nav.menu_levels.second_level_child.third_level_child') Asset Receiving
									li
										a.menu-item(href='/consignor/auctionresult', data-i18n='nav.menu_levels.second_level_child.third_level_child') Consignor Payment
							li
								a.menu-item(href='javascript:void(0)', data-i18n='nav.menu_levels.second_level') Online Bidding
								ul.menu-content
									li
										a.menu-item(href='/evaluation/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child.main') Bidder Evaluation
									li
										a.menu-item(href='/verify/bidder', data-i18n='nav.menu_levels.second_level_child.third_level_child') Bidder Verification
									li
										a.menu-item(href='/awards', data-i18n='nav.menu_levels.second_level_child.third_level_child') Awards
									li
										a.menu-item(href='/delivery', data-i18n='nav.menu_levels.second_level_child.third_level_child') Delivery
					li.nav-item
						a(href='/queries')
							i.fa.fa-list
							span.menu-title Queries
					li.nav-item
						a(href='/reports/sales')
							i.fa.fa-line-chart
							span.menu-title Reports
					li.nav-item
						a(href='/utilities')
							i.fa.fa-cogs
							span.menu-title Utilities
		.app-content.content
			.content-wrapper
				
				//- Modals
				//- Modal for Identity
				#identityModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog.modal-lg(role='document')
						.modal-content
							.modal-header(style='border-bottom: none;')
								h4.modal-title.text-center 
									img(src='assets/images/logo/logo-dark.png', alt='branding logo')
								button#closeLogin.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
									h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
										span Consignor's Information
								.card-content
									.card-body
										.row
											.col-md-12 
												.text-center
													.bs-callout-info
														.text-left
															.media.align-items-stretch
																.media-left.media-middle.bg-info.p-2
																	i.la.la-info.white.font-medium-5.mt-1
																.media-body.p-1
																	strong.info Note!
																	p
																		span Please ask for the 
																			strong.info government-issued ID 
																		| provided below to confirm their identity.
										br
										br
										br
										.row
											.col-md-12
												#idField.row
										br
										.row
											.col-md-12
												.text-center
													h2#identName Blue House Inc.
												
												.text-center
													h3#identNumber 2018-01342-MN-0
												
												.text-center
													h4#identType Company
										br
										.row
											.col-md-12
												dl.row
													dt.col-sm-5
														h3 Representative Name:
													dd.col-md-7
														h4#identRepName(style="text-align: justify") Froilan Sam Malibiran
												dl.row
													dt.col-sm-5
														h3 Address:
													dd.col-md-7
														h4#identAddress(style="text-align: justify") Marikina CIty
												dl.row
													dt.col-sm-5
														h3 Date Registered:
													dd.col-md-7
														h4#identRegister(style="text-align: justify") December 11th, 1998
												dl.row
													dt.col-sm-5
														h3 ID Type:
													dd.col-md-7
														h4#identIDType(style="text-align: justify") December 11th, 1998
												dl.row
													dt.col-sm-5
														h3 ID Number:
													dd.col-md-7
														h4#identIDNumber(style="text-align: justify") December 11th, 1998
							.modal-footer
								.text-right
									button#cancelIdentity.btn.btn-outline-danger(style='margin-right: 10px')
										i.la.la-close
										|  Cancel
									button#continueIdentity.btn.btn-outline-success
										i.la.la-check
										|  Continue	

									
				//- Modal for Receiving
				#receiveModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog.modal-md(role='document')
						.modal-content
							.modal-header(style='border-bottom: none;')
								h4.modal-title.text-center 
									img(src='assets/images/logo/logo-dark.png', alt='branding logo')
								button#closeLogin.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
									h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
										span Auction Result Claiming										
								.card-content
									.card-body
										.row
											.bs-callout-info
												.media.align-items-stretch
													.media-left.media-middle.bg-info.p-2
														i.la.la-info.white.font-medium-5.mt-1
													.media-body.p-1
														strong.info Instruction:
														p
															span Scan the 
																strong.info Auction Result QR Code 
															| in the provided Auction Result Voucher.
										br
										#receive.text-center
											#fieldReceive
												video#qrscanner(width="400px" style="border: 3px solid blue;")
											br
											#linkReceive
												a#manualReceive.card-link.red.font-small-3.pt-2
													span  
														strong QR code cannot be recognized? 
														br
														| Use manual claiming instead.
				//- Log In For Consignment
				#logInModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog.modal-lg(role='document')
						.modal-content
							.modal-header(style='border-bottom: none;')
								h4.modal-title.text-center 
									img(src='assets/images/logo/logo-dark.png', alt='branding logo')
								button#closeLogin.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
									h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
										span Consignor Log In
									
								.card-content
									.card-body
										form.form-horizontal(action='index.html', novalidate='')
											fieldset.form-group.position-relative.has-icon-left
												input#user-name.form-control(type='text', placeholder='Your Username', required='')
												.form-control-position
													i.ft-user
											fieldset.form-group.position-relative.has-icon-left
												input#user-password.form-control(type='password', placeholder='Enter Password', required='')
												.form-control-position
													i.la.la-key
											.form-group.row
													
												.col-md-12.col-12.float-sm-left.text-center
													a.card-link(href='recover-password.html') Forgot Password?
											button.btn.btn-outline-info.btn-block(type='submit')
												i.ft-unlock
												|  Log in
										p.card-subtitle.line-on-side.text-muted.text-center.font-small-3.mx-2.my-1
											span OR
										.text-center
											button.btn.btn-outline-success.btn-block
												i.la.la-google
												|  Log in with Google
										br
										br
										p.card-subtitle.line-on-side.text-muted.text-center.font-small-3.mx-2.my-1
												span  New to Apptrade?
										button#applyButton.btn.btn-outline-danger.btn-block
											i.ft-user
											|  Apply
				//- Log In Modal End
				//- Sign Up For Consignor
				#signUpModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-hidden='true')
					.modal-dialog.modal-lg(role='document')
						.modal-content
							.modal-header(style='border-bottom: none;')
								h4.modal-title.text-center 
									img(src='assets/images/logo/logo-dark.png', alt='branding logo')
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') ×
							.modal-body
								.card-header.border-0(style='padding-top: 1.5rem; padding-bottom: 0rem;')
									h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2(style='margin: -38px 0 20px;')
										span Consignor Application
								.row
									.col-12
										.card-content.collapse.show
											.card-body
												form.steps-validation.wizard-circle(action='/consignor', method='post' enctype="multipart/form-data")
													//- Step 1
													h6 Profile
													fieldset
														.row
															.col-md-4.col-sm-12
															.col-md-4.col-sm-12
																center
																	fieldset
																		#consignorType
																			input#company.checkie(type='radio', val='company' name='type' checked='')
																			span  
																				label(for='company')  Company &nbsp &nbsp
																			
																			input#personal.checkie(type='radio', val='personal' name='type')
																			span  
																				label(for='personal')  Personal
														#fieldProfile
															#profilePersonal(style='display: none')
																.row
																	.col-md-6
																		.form-group
																			label(for='firstName')
																				| First Name:
																				span.danger *
																			input#firstName.form-control(type='text', name='firstName' placeholder='E.g. Juana')
																	.col-md-6
																		.form-group
																			label(for='lastName')
																				| Last Name:
																				span.danger *
																			input#lastName.form-control(type='text', name='lastName' placeholder='E.g. dela Cruz')
																.row
																	.col-md-12
																		.form-group
																			label(for='address')
																				| Address:
																				span.danger *
																			input#address.form-control.required(type='text', name='address' placeholder='E.g. #37 Barangay Sta. Lucia, Pasig City')
																.row
																	.col-md-6
																		.form-group
																			label(for='phone')
																				| Phone Number:
																			input.phone.form-control.phone-formatter(type='text', name='phone' placeholder='E.g. (+63) 999 999-9999')
																	.col-md-6
																		.form-group
																			label(for='phone')
																				| Telephone Number:
																			input.telephone.form-control.phone-formatter(type='text', name='telephone' placeholder='E.g. 999-9999')

																.row
																	.col-md-12
																		.form-group
																			label(for='cpName')
																				| Check Payable To:
																				span.danger *
																			input#cpNameCompany.form-control.required(type='text', name='cpName' placeholder='E.g. Juana dela Cruz')
															#profileCompany
																.row
																	.col-md-12
																		.form-group
																			label(for='companyName')
																				| Company Name:
																				span.danger *
																			input#companyName.form-control(type='text', name='companyName' placeholder='E.g. Apptrade Incorporation')
																.row
																	.col-md-6
																		.form-group
																			label(for='repFirstName')
																				| Representative First Name:
																				span.danger *
																			input#repFirstName.form-control(type='text', name='repFirstName' placeholder='E.g. Juana')
																	.col-md-6
																		.form-group
																			label(for='repLastName')
																				| Representative Last Name:
																				span.danger *
																			input#repLastName.form-control(type='text', name='repLastName' placeholder='E.g. dela Cruz')
																.row
																	.col-md-12
																		.form-group
																			label(for='companyAddress')
																				| Company Address:
																				span.danger *
																			input#companyAddress.form-control.required(type='text', name='companyAddress' placeholder='E.g. #37 Barangay Sta. Lucia, Pasig City')
																.row
																	.col-md-6
																		.form-group
																			label(for='phone')
																				| Phone Number:
																			input.phone.form-control.phone-formatter(type='text', name='phone' placeholder='E.g. (+63) 999 999-9999')
																	.col-md-6
																		.form-group
																			label(for='phone')
																				| Telephone Number:
																			input.telephone.form-control.phone-formatter(type='text', name='telephone' placeholder='E.g. 999-9999')

																.row
																	.col-md-12
																		.form-group
																			label(for='cpName')
																				| Check Payable To:
																				span.danger *
																			input#cpNamePersonal.form-control.required(type='text', name='cpName' placeholder='E.g. Juana dela Cruz')
													//- Step 2
													h6 Requirements
													fieldset
														#requirements
															.row
																.col-md-12
																	.form-group
																		label(for='personalID') ID:
																			span.danger *
																		select#personalID.form-control(name='personalID' style="width: 100%")
																			option(value="") Select
																			optgroup(label='Government Issued ID')
																				option(value='Alien Certificate of Registration (ACR I-Card)') Alien Certificate of Registration (ACR I-Card)
																				option(value=`Armed Forces of the Philippines (AFP) ID`) Armed Forces of the Philippines (AFP) ID
																				option(value='Barangay Clearance/Certificate') Barangay Clearance/Certificate
																				option(value=`Certification from the National Council for the Welfare of Disabled Persons (NCWDP)`) Certification from the National Council for the Welfare of Disabled Persons (NCWDP)
																				option(value=`Consular ID`) Consular ID
																				option(value=`Department of Social Welfare and Development (DSWD) ID`) Department of Social Welfare and Development (DSWD) ID
																				option(value=`Driver's License`) Driver's License
																				option(value='Government Service Insurance System (GSIS ID)') Government Service Insurance System (GSIS ID)
																				option(value='Marriage Certificate (PSA Authenticated)') Marriage Certificate (PSA Authenticated)
																				option(value='National Bureau of Investigation (NBI) Clearance') National Bureau of Investigation (NBI) Clearance
																				option(value=`OFW ID`) OFW ID
																				option(value=`Overseas Worker's Welfare Administration (OWWA) ID`) Overseas Worker's Welfare Administration (OWWA) ID
																				option(value=`PAG-IBIG ID`) PAG-IBIG ID
																				option(value=`Passport`) Passport
																				option(value='PhilHealth Identification Card (PIC)') PhilHealth Identification Card (PIC)
																				option(value=`Philippine Overseas Employment Association (POEA) ID`) Philippine Overseas Employment Association (POEA) ID
																				option(value='Philippine Statistics Authority (PSA) Birth Certificate') Philippine Statistics Authority (PSA) Birth Certificate
																				option(value='Philippine National Police (PNP) ID') Philippine National Police (PNP) ID
																				option(value='Police Clearance') Police Clearance
																				option(value='Postal ID') Postal ID
																				option(value=`PRA Special Resident Retiree Visa (SRRV) ID`) PRA Special Resident Retiree Visa (SRRV) ID
																				option(value='Professional Regulation Commission ID (PRC ID)') Professional Regulation Commission ID (PRC ID)
																				option(value=`Seaman's Book`) Seaman's Book
																				option(value=`Senior Citizen's ID Card`) Senior Citizen's ID Card
																				option(value='Social Security System ID (SSS ID)')  Social Security System ID (SSS ID)
																				option(value='Tax Identification Number (TIN ID)') Tax Identification Number (TIN ID)
																				option(value=`Unified Multi-Purpose ID (UMID)`) Unified Multi-Purpose ID (UMID)
																				option(value=`Voter's ID`) Voter's ID
															.row
																#idNumberField.col-md-6
																	.form-group
																		label(for='idNumber')
																			| ID Number:
																			span.danger *
																		.input-group
																			.input-group-prepend
																				span#basic-addon3.input-group-text
																					i.la.la-user
																			input#idNumber.form-control(name='idNumber' type='text', placeholder='ID Number')
																#idBusinessField.col-md-6
																	.form-group
																		label(for='idBusiness')
																			| Business Tin Number:
																			span.danger *
																		.input-group
																			.input-group-prepend
																				span#basic-addon3.input-group-text
																					i.la.la-building
																			input#idBusiness.form-control(name='idBusiness' type='text', placeholder='Business Tin Number')
															.row
																.col-md-12
																	.form-group
																		label(for='proof')
																			| ID Proof:
																			span.danger *
																		#prooffield
																			input#proof.dropify(type='file', name='proof' accept='image/*' data-height='300' data-allowed-file-extensions="jpeg jpg png")
														
													//- Step 3
													h6 Credentials
													fieldset
														#credentials
															.row
																.col-md-12
																	.bs-callout-info
																		.media.align-items-stretch
																			.media-left.media-middle.bg-info.p-2
																				i.la.la-info.white.font-medium-5.mt-1
																			.media-body.p-1
																				strong Note!
																				p
																					| Password link will be sent to your provided e-mail address.
																					| Hence, you must have an access to your e-mail account.
															br
															.row
																.col-md-12
																	.form-group
																		label(for='email')
																			| E-mail Address:
																			span.danger *
																		.input-group
																			.input-group-prepend
																				span#basic-addon3.input-group-text
																					i.la.la-envelope
																			input#email.form-control(name='email' type='text', placeholder='E-mail Address')
															.row
																.col-md-12
																	.form-group
																		label(for='username')
																			| Username:
																			span.danger *
																		.input-group
																			.input-group-prepend
																				span#basic-addon3.input-group-text
																					i.la.la-user
																			input#username.form-control(name='username' type='text', placeholder='Username')
															//- .row
															//- 	.col-md-12
															//- 		.form-group
															//- 			label(for='password')
															//- 				| Password
															//- 				span.danger *
															//- 			.input-group
															//- 				.input-group-prepend
															//- 					span#basic-addon3.input-group-text
															//- 						i.la.la-key
															//- 				input#password.form-control(type='password', placeholder='Password')
													//- Step 4
													h6 Agreement
													fieldset
														.row
															.col-md-12
																#accordionWrap4(role='tablist', aria-multiselectable='true')
																	.card.collapse-icon.accordion-icon-rotate
																		#heading41.card-header.bg-info
																			a.card-title.lead.white(data-toggle='collapse', data-parent='#accordionWrap4', href='#accordion41', aria-expanded='true', aria-controls='accordion41') Consignor Agreement
																		#accordion41.border-info.card-collapse.collapse.show(role='tabpanel', aria-labelledby='heading41', aria-expanded='true')
																			.card-content
																				.card-body
																					//- h4.header-title.m-t-0.m-b-30(style="margin-bottom: 15px !important; border-bottom: 3px solid #f3f3f3; padding-bottom: 20px") Consignor Agreement
																					dl.row
																						dt.col-sm-3
																							p CONSIGNMENT:
																						dd.col-md-9
																							p(style="text-align: justify") Consignor grants Apptrade the exclusive right to sell a variety of his / her assets (“Assets”), more particularly listed and described in “ASSET LIST” in online auction. Apptrade will decide the online auction at which the assets will be auctioned. Apptrade may divide or combine the assets into one or more separate lots. Apptrade will incur no liability for the postponement of any auction for any reason. Apptrade is not responsible for items left with the Auction House that do not appear on the asset list made out by an Apptrade employee. Any items left with Apptrade that do not appear on the asset list are to be removed from the premises after three (3) auctions or the consignor will be charged storage fees, deductible from future sales proceeds.
																					dl.row
																						dt.col-sm-3
																							p SERVICE FEE:
																						dd.col-md-9
																							p(style="text-align: justify") Apptrade will receive 15% of the hammer price.
																					dl.row
																						dt.col-sm-3
																							p RESERVE PRICE: 
																						dd.col-md-9
																							p(style="text-align: justify") Reasonable reserve price will be accepted on major or important items only. Reserves are to be agreed upon before the asset will be put in the auction sale and cannot be raised after signing this agreement.
																					dl.row
																						dt.col-sm-3
																							p RESTRICTION: 
																						dd.col-md-9
																							p(style="text-align: justify") Upon signing of this agreement, the assets subject of this agreement may not be withdrawn by the consignor. Withdrawing should be in the way of bidding called buy backing, but the item the consignor buy backed will be charged 5% of the hammer price.
																					dl.row
																						dt.col-sm-3
																							p ASSET LIST:
																						dd.col-md-9
																							p(style="text-align: justify") Consignor should fill up the Consignment Form completely and clearly to the best of their knowledge as to the true specifications of the items. Condition of the item will be determined by Apptrade.
																					dl.row
																						dt.col-sm-3
																							p MOBILIZATION AND LABOR:
																						dd.col-sm-9
																							p(style="text-align: justify") Labor and mobilization shall be at the cost of the owner which can be offset at the gross sale of the consigned items.
																					dl.row
																						dt.col-sm-3
																							p COLLECTION AND REMITTANCE:
																						dd.col-sm-9
																							p(style="text-align: justify") Apptrade shall facilitate collection of the Winning Bid Price (“WBP “) and corresponding Buyers Premium (“BP“ ) from the successful bidders within three (3) banking days immediately after the auction. No later than four (4) banking days from collection of the WBP, Apptrade shall remit to the Owner the proceeds of the sale net of the agreed service fee and any other charges together with a full accounting details.
																					dl.row
																						dt.col-sm-3
																							p UNSOLD ASSET:
																						dd.col-sm-9
																							p(style="text-align: justify") If a previously unsold item is relisted in a second auction with a reserve, the second attempt will be subject to a 50% decrease on reserved price. If the unsold item is relisted for third auction attempt, it will be subjected to No Reserve Terms.
																					dl.row
																						dt.col-sm-3
																							p WARRANTIES AND INDEMNIFICATION BY CONSIGNOR:
																						dd.col-sm-9
																							p(style="text-align: justify") (A) Consignor represents and warrants that he/she has the legal right to consign the assets for sale in the auction. (B) Consignor agrees to indemnify Apptrade against all claims and expenses, including reasonable attorney’s fee arising from the actual or breach of any of the Consignors warranties or representations herein, which shall survive the completion of a sale of the assets. 
																					dl.row
																						dt.col-sm-3
																							p NON-PAYMENT BY PURCHASER:
																						dd.col-sm-9
																							p(style="text-align: justify") Apptrade is not obliged to legally enforce payment by any buyer of the assets. If Apptrade is not paid by the purchaser within 3 days of sale, Apptrade may, in its sole discretion, cancel the sale and resell the assets.
																					dl.row
																						dt.col-sm-3
																							p MISCELLANEOUS:
																						dd.col-sm-9
																							p(style="text-align: justify") This agreement is binding upon the Consignor’s heirs, beneficiaries, executors, et al; is assignable only with Apptrade consent; may be modified only in writing signed by Apptrade and the Consignor.
																					dl.row
																						dt.col-sm-3
																							p CONTRACT TERM:
																						dd.col-sm-9
																							p(style="text-align: justify") This contract will continue in force until notice to cancel is given by either party.
																					dl.row
																						dt.col-sm-3
																							p VENUE OF LEGAL ACTION:
																						dd.col-sm-9
																							p(style="text-align: justify") Should it become necessary for either party to bring an action in court for the enforcement of the provisions of this contract, venue of such action shall be the proper courts of Paranaque City.
																					dl.row
																						dt.col-sm-3
																							p THIRD-PARTY LIABILITY:
																						dd.col-sm-9
																							p(style="text-align: justify") The Consignor agrees to hold Apptrade and/or its representative free and harmless from and against any and all liability to any third person arising from any act or omission of the Consignor and or its employees or agents.
																					dl.row
																						dt.col-sm-3
																							p LOSS AND DAMAGED ASSET:
																						dd.col-sm-9
																							p(style="text-align: justify") Reserved Loss or Damaged asset will be paid with its reserved price by the company. On the other hand, No Reserved Loss or Damaged Item will be defaulted to No Reserved Price worth Php. 100.00.
																					dl.row
																						dt.col-sm-3
																							p INTEGRATION:
																						dd.col-sm-9
																							p(style="text-align: justify") This contract with annexes embodied sets forth the entire agreement and understanding of the parties and supersedes all prior oral and written agreements, arrangements and understandings relating to the subject matter hereof.
														.row
															.col-md-12
																.form-group.row.clearfix
																	.col-lg-12
																		.checkbox.checkbox-info
																			input#agree(type='checkbox' name='agree')
																			label(for='agree')
																				|  &nbsp I agree with the Consignor Agreement.																		
																		#errormessage(style='color: red')
													
													



							
				//- Sign Up Modal End
				//- End-Modal
				.content-header.row
					.content-header-left.col-md-6.col-12.mb-2.breadcrumb-new
						h3.content-header-title.mb-0.d-inline-block Consignor Payment
						.row.breadcrumbs-top.d-inline-block
							.breadcrumb-wrapper.col-12
				.content-detached.content-right
					.content-body(style='margin-left: 0px !important')
						section.row
							.col-12
								.card
									.card-head
										.card-header
											h4.card-title Pending Auction Result
											a.heading-elements-toggle
												i.la.la-ellipsis-h.font-medium-3
											.heading-elements
												button.btn.btn-block.btn-info.btn-sm(type='button', data-toggle='modal', data-target='#receiveModal')
													i.ft-plus.white
													|  Claim Auction Result
									.card-content
										.card-body
											// Task List table
											.table-responsive
												table#consignmentTable.table.table-white-space.table-bordered.row-grouping.display.no-wrap.icheck.table-middle
													thead
														tr
															th Action
															th Voucher ID
															th Consignor Number
															th Auction Number
															th Status
													tbody
														-if(voucher)
															-for(var i = 0; i < voucher.length; i++)
																tr
																	td
																		span.dropdown
																			button#btnSearchDrop2.btn.btn-info.dropdown-toggle.dropdown-menu-right(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
																				i.ft-settings
																			span.dropdown-menu.mt-1.dropdown-menu-right(aria-labelledby='btnSearchDrop2')
																				a.edit.dropdown-item(href=`/auctionresult/${voucher[i].intARAuctionID}`)
																					i.la.la-eye
																					|  View
																				-if(voucher[i].booStatus == 0)
																					a.remove.dropdown-item
																						i.la.la-remove
																						|  Cancel
																	td #{voucher[i].intAuctionResultID}
																	td #{voucher[i].intARConsignorID}
																	td #{voucher[i].intARAuctionID}
																	
																	
																	-if(voucher[i].booARStatus == 0)
																		td
																			span.btn.btn-sm.btn-outline-warning.round For Claiming
																	-if(voucher[i].booARStatus == 1)
																		td
																			span.btn.btn-sm.btn-outline-primary.round Claimed

														
													tfoot
														tr
															th Action
															th Voucher ID
															th Consignor Number
															th Auction Number
															th Status
		// ///////////////////////////////////////////////////////////////////////////
		footer.footer.footer-static.footer-light.navbar-border.navbar-shadow
			p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
				span.float-md-left.d-block.d-md-inline-block
					| Copyright © 2018 
					a.text-bold-800.grey.darken-2(href='https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT 
					| , All rights reserved.
				span.float-md-right.d-block.d-md-inline-blockd-none.d-lg-block
					| Hand-crafted & Made with dd
					i.ft-heart.pink
		input#hostname(type='hidden' value=hostname)
		input#port(type='hidden' value=port)
		input#errorfieldProfileCompany(type='text' hidden)
		input#errorfieldProfilePersonal(type='text' hidden)
		input#errorfieldReq(type='text' hidden)
		input#errorfieldCred(type='text' hidden)
		#agreement
			input#errorfieldAgree(type='hidden' name='errorfieldAgree' value='')
		form#codeForm(style='display: hidden', action='/payment/details', method='POST')
			input#strConsignmentCode(type='hidden', name='strARCode', value='')

						
		//- new
		// BEGIN VENDOR JS
		script(src='/assets/vendors/js/vendors.min.js', type='text/javascript')
		// BEGIN VENDOR JS
		// BEGIN PAGE VENDOR JS
		script(src='/assets/vendors/js/extensions/jquery.steps.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/chart.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/raphael-min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/morris.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js', type='text/javascript')
		script(src='/assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js', type='text/javascript')
		script(src='/assets/data/jvector/visitor-data.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/select/select2.full.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/typeahead/typeahead.bundle.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/typeahead/bloodhound.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/typeahead/handlebars.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/formatter/formatter.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/maxlength/bootstrap-maxlength.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/extended/card/jquery.card.js', type='text/javascript')
		// END PAGE VENDOR JS
		// BEGIN MODERN JS
		script(src='/assets/js/core/app-menu.min.js', type='text/javascript')
		script(src='/assets/js/core/app.min.js', type='text/javascript')
		script(src='/assets/js/scripts/customizer.min.js', type='text/javascript')
		// END MODERN JS
		// BEGIN PAGE LEVEL JS
		script(src='/assets/vendors/js/dropify.js', type='text/javascript')
		script(src='/assets/vendors/js/formValidation.js', type='text/javascript')
		script(src='/assets/vendors/js/bootstrap.min.js', type='text/javascript')
		script(src='/assets/vendors/js/sweetalert.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/select/form-select2.min.js', type='text/javascript')
		script(src='/assets/js/scripts/modal/components-modal.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/jquery.dataTables.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.responsive.min.js', type='text/javascript')
		script(src='/assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/icheck/icheck.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/checkbox-radio.min.js', type='text/javascript')
		script(src='/assets/vendors/js/pickers/dateTime/moment-with-locales.min.js', type='text/javascript')
		script(src='/assets/vendors/js/pickers/daterange/daterangepicker.js', type='text/javascript')
		//- script(src='/assets/vendors/js/forms/validation/jquery.validate.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/wizard-steps.min.js', type='text/javascript')
		script(src='/assets/vendors/js/forms/select/select2.full.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/extended/form-typeahead.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/extended/form-inputmask.min.js', type='text/javascript')
		//- script(src='/assets/js/scripts/forms/extended/form-formatter.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/extended/form-maxlength.min.js', type='text/javascript')
		script(src='/assets/js/scripts/forms/extended/form-card.min.js', type='text/javascript')
		script(src='/assets/vendors/js/jquery.form.js', type='text/javascript')
		script(src='/assets/vendors/js/instascan.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/assets/vendors/js/notification.js', type='text/javascript')
		script.
			$(document).ready(function(){
				$('a[href="#finish"]').on('click', function(){//Submit Event
					$('#agreement').data('formValidation').validate();//Check if no error validation
					if($('#errorfieldAgree').val() == 'yes'){
						var contype = $('.checkie:checked').attr('val');//Checking which radio button is checked
						var formData = new FormData(); //FormData (Pre-requisite: Jquery Form and Multer) use for File Ajax
											
						if(contype == 'company'){
							$('#profileCompany input').each(function(index, obj){
								formData.append(obj.name, obj.value);
							});  
							formData.append('IDPicture', $('#proof')[0].files[0]);
							formData.append('IDType', $('#personalID').val());
							formData.append('TINNumber', $('#idBusiness').val());
							formData.append('IDNumber', $('#idNumber').val());
							formData.append('consignorType', 0);							
							$('#credentials input').each(function(index, obj){
								formData.append(obj.name, obj.value);
							});

							$.ajax({
								type: "POST",
								url: "/consignor",
								data: formData,
								processData: false,
								contentType: false,
								success: function(data){
									if(data == 'success'){
										swal({
											title: 'Application Successful',
											icon: 'success',
											buttons: {
												Okay: 'Okay',
											}
										}).then((value) => {
											
											$('#agree').iCheck('uncheck');
											//Reset the form Wizard
											$('.steps-validation.wizard-circle').steps('reset');


											//Resetting the Form
											$('#signUpModal').find(':input').val('');
											$("#personalID").val("");
											$("#personalID").trigger('change');
											$('.dropify-clear').trigger('click');
											$('#signUpModal').off('hide.bs.modal').modal('toggle')
											//Resetting Form Validation (destroy technique)
											$('#profileCompany').data('formValidation').destroy()
											$('#profilePersonal').data('formValidation').destroy()
											$('#requirements').data('formValidation').destroy()
											$('#credentials').data('formValidation').destroy()
											$('#agreement').data('formValidation').destroy()
											signupValidation() //Initialization again
											hiddenModal();
										})
									}
								},
								error: function (e) {
									console.log("some error", e);
								}
							});// Ajax
						}//If Condition Company
						if(contype == 'personal'){
							$('#profilePersonal input').each(function(index, obj){
								formData.append(obj.name, obj.value);
							});  
							formData.append('IDPicture', $('#proof')[0].files[0]);
							formData.append('IDType', $('#personalID').val());
							formData.append('IDNumber', $('#idNumber').val());
							formData.append('consignorType', 1);
							$('#credentials input').each(function(index, obj){
								formData.append(obj.name, obj.value);
							});

							$.ajax({
								type: "POST",
								url: "/consignor",
								data: formData,
								processData: false,
								contentType: false,
								success: function(data){
									if(data == 'success'){
										swal({
											title: 'Application Successful',
											icon: 'success',
											buttons: {
												Okay: 'Okay',
											}
										}).then((value) => {
											
											$('#agree').iCheck('uncheck');
											//Reset the form Wizard
											$('.steps-validation.wizard-circle').steps('reset');


											//Resetting the Form
											$('#signUpModal').find(':input').val('');
											$("#personalID").val("");
											$("#personalID").trigger('change');
											$('.dropify-clear').trigger('click');
											$('#signUpModal').off('hide.bs.modal').modal('toggle')
											//Resetting Form Validation (destroy technique)
											$('#profileCompany').data('formValidation').destroy()
											$('#profilePersonal').data('formValidation').destroy()
											$('#requirements').data('formValidation').destroy()
											$('#credentials').data('formValidation').destroy()
											$('#agreement').data('formValidation').destroy()
											signupValidation() //Initialization again
											hiddenModal();
										})
									}
								},
								error: function (e) {
									console.log("some error", e);
								}
							});// Ajax
						}//If Condition Personal
					}//if Condition
				})//Click Event
			})//Document Ready Function

		script.
			function requirementValidation(){
				var contype = $('.checkie:checked').attr('val');
				if(contype == 'company'){
					$('#requirements').formValidation({
						framework: 'bootstrap',
						icon: {
							valid: 'fa fa-check',
							invalid: 'fa fa-times',
							validating: 'fa fa-spinner'
						},
						fields: {
							personalID: {
								validators: {
									notEmpty: {
										message: 'Choose what type of ID you are presenting. This ID will be also use for verification for claiming check payable.'
									},
								}
							},
							
							idNumber: {
								validators: {
									notEmpty: {
										message: `Enter ID Number on ID Presented`
									},
								}
							},

							idBusiness: {
								validators: {
									notEmpty: {
										message: `What is your business TIN number?`
									},
								}
							},
							
							proof: {
								validators: {
									notEmpty: {
										message: 'Please upload a photo of your ID for verification.'
									},
								}
							},
			
						}
					})
					.on('err.field.fv', function(e, data) {
						// Get the first invalid field
						var invalidFields = data.fv.getInvalidFields().length;
						$('#errorfieldReq').val(invalidFields)
					})
					.on('success.field.fv', function(e, data) {
						// Get the first invalid field
						var invalidFields = data.fv.getInvalidFields().length;
						$('#errorfieldReq').val(invalidFields)
					});
				}
				else if(contype == 'personal'){
					$('#requirements').formValidation({
						framework: 'bootstrap',
						icon: {
							valid: 'fa fa-check',
							invalid: 'fa fa-times',
							validating: 'fa fa-spinner'
						},
						fields: {
							personalID: {
								validators: {
									notEmpty: {
										message: 'Choose what type of ID you are presenting. This ID will be also use for verification for claiming check payable.'
									},
								}
							},
							
							idNumber: {
								validators: {
									notEmpty: {
										message: `Enter ID Number on ID Presented`
									},
								}
							},
							
							proof: {
								validators: {
									notEmpty: {
										message: 'Please upload a photo of your ID for verification.'
									},
								}
							},
			
						}
					})
					.on('err.field.fv', function(e, data) {
						// Get the first invalid field
						var invalidFields = data.fv.getInvalidFields().length;
						$('#errorfieldReq').val(invalidFields)
					})
					.on('success.field.fv', function(e, data) {
						// Get the first invalid field
						var invalidFields = data.fv.getInvalidFields().length;
						$('#errorfieldReq').val(invalidFields)
					});
				}
			}
			function hiddenModal(){
				$('#signUpModal').on('hide.bs.modal', function(event){
					event.preventDefault()
					swal({
						title: 'You are about to leave application wizard.',
						text: 'Do you want to save your information for draft?',
						icon: 'warning',
						buttons: {
							Cancel: 'Cancel',
							DontSave: `Don't Save`,
							Save: 'Save',
						}
					}).then((value) => {
						if(value == 'Save'){
							$('#signUpModal').off('hide.bs.modal').modal('toggle')
							hiddenModal();
						}
						else if(value == 'DontSave'){
							//Agreement Unchecking Reset
							$('#agree').iCheck('uncheck');

							//Reset the form Wizard
							$('.steps-validation.wizard-circle').steps('reset');


							//Resetting the Form
							$(this).find(':input').val('');
							$("#personalID").val("");
							$("#personalID").trigger('change');
							$('.dropify-clear').trigger('click');
							$('#signUpModal').off('hide.bs.modal').modal('toggle')
													
							//Resetting Form Validation (destroy technique)
							$('#profileCompany').data('formValidation').destroy()
							$('#profilePersonal').data('formValidation').destroy()
							$('#requirements').data('formValidation').destroy()
							$('#credentials').data('formValidation').destroy()
							$('#agreement').data('formValidation').destroy()
							signupValidation() //Initialization again
							
							hiddenModal();
						}
					})
					
										
													
				})
			}
			function signupValidation(){
				$('#profileCompany').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields: {
						companyName: {
							validators: {
								notEmpty: {
									message: 'What is your company name?'
								},
							},
							
						},
						
						repFirstName: {
							validators: {
								notEmpty: {
									message: `What is the first name of the company's representative?`
								},
							}
						},

						repLastName: {
							validators: {
								notEmpty: {
									message: `What is the first name of the company's representative?`
								},
							}
						},
						
						companyAddress: {
							validators: {
								notEmpty: {
									message: 'What is the address of the company?'
								},
							}
						},

						cpName: {
							validators:{
								notEmpty:{
									message: 'Whose name should we issue the check payable once all consignments are finished?'
								}
							}
						}				
					}
				})
				.on('err.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldProfileCompany').val(invalidFields)
				})
				.on('success.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldProfileCompany').val(invalidFields)
				});

				$('#profilePersonal').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields: {
						
						firstName: {
							validators: {
								notEmpty: {
									message: `What is the consignor's first name?`
								},
							}
						},

						lastName: {
							validators: {
								notEmpty: {
									message: `What is the consignor's first name?`
								},
							}
						},
						
						address: {
							validators: {
								notEmpty: {
									message: `What is the consignor's address?`
								},
							}
						},

						cpName: {
							validators:{
								notEmpty:{
									message: 'Whose name should we issue the check payable once all consignments are finished?'
								}
							}
						}				
					}
				})
				.on('err.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldProfilePersonal').val(invalidFields)
				})
				.on('success.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldProfilePersonal').val(invalidFields)
				});

				requirementValidation();

				$('#credentials').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields: {
						email: {
							validators: {
								
								notEmpty: {
									message: 'Enter your e-mail address'
								},
								emailAddress: {
									message: 'This is not a valid e-mail address.'
								},
								remote: {
									url: '/emailavailability',
									message: 'E-mail address has been taken',
									validKey: 'email',
									type: 'POST'
								},
							}
						},

						username: {
							validators: {
								
								notEmpty: {
									message: `Enter your desired username. You'll use this to sign in to your account.`									
								},
								stringLength: {
									min: 6,
									max: 30,
									message: 'The username must be minimum of 6 characters and maximum of 30 characters.'
								},
								regexp: {
									regexp: /^[a-zA-Z0-9_\.]+$/,
									message: 'The username can only consist of alphabetical, number, dot and underscore'
								},
								remote: {
									url: '/usernameavailability',
									message: 'Username has been taken',
									validKey: 'username',
									type: 'POST'
								},
							}
						},
					}
				})
				.on('err.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldCred').val(invalidFields)
				})
				.on('success.field.fv', function(e, data) {
					// Get the first invalid field
					var invalidFields = data.fv.getInvalidFields().length;
					$('#errorfieldCred').val(invalidFields)
				});

				$('#agreement').formValidation({
					framework: 'bootstrap',
					err: {
						container: '#errormessage'
					},
					icon: {
						valid: 'fa fa-check',
						invalid: 'fa fa-times',
						validating: 'fa fa-spinner'
					},
					fields: {
						errorfieldAgree: {
							excluded: false,
							validators: {
								notEmpty:{
									message: 'You must agree first to consignor agreement.',
								}
							}
						},
					}//Fields
				})//Agreement Formvalidation
			}//Document Ready Function
		


		
		script.
			//- qr receiving
			$(document).ready(function(){
				$('#identityModal').on('hide.bs.modal', function(){
					$('#idField').empty();
				})

				$('#receiveModal').on('shown.bs.modal', function () {
					let strConsignmentCode = ''
					var scanner = new Instascan.Scanner({ video: document.getElementById('qrscanner') });
					scanner.addListener('scan', function (content, image) {
						strConsignmentCode = content;
						$.post('/identityrequest/auction', {
							strConsignmentCode: content,
						}).done(function(data){
							
							scanner.stop();
							if(data == 'none'){
								swal({
									title: 'No consignment found!',
									text: 'Please rescan the consignment code again.',
									icon: 'error',
									button: 'Okay'
								})
								$('#receiveModal').on('hidden.bs.modal', function () {
										$('#receiveModal').modal('toggle');
										$('#receiveModal').off('hidden.bs.modal')

									});
								$('#receiveModal').modal('toggle');
							}
							else{
								$('#receiveModal').on('hidden.bs.modal', function(){
									$("#identityModal").on('shown.bs.modal', function(){
										console.log('shown')
										var idPic = $(`<input id="IDentity", class="dropify", data-default-file='/assets/uploads/${data.identity.strIDPicture}' disabled type='file', data-height="200" name='proof' accept='image/*' data-allowed-file-extensions="jpeg jpg png"/>`)				
										$.when($(`#idField`).append(idPic)).then(function(){
											$('#IDentity').dropify({
												allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
												messages: {
													'default': 'Drag and drop an image here or click',
													'replace': 'Drag and drop or click to replace',
													'remove': 'Remove',
													'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
												},
												error: {
													'fileSize': 'The file size is too big (1M max).',
													'fileFormat': 'The file format is not allowed ({{ value }} only).'
												}
											});
										})

										//-put value
										console.log(data.identity.strIDType)
										$('#identName').text(data.identity.strName)
										$('#identNumber').text(data.identity.intConsignorID)
										if(data.identity.booConsignorType == 0){//company
											$('#identType').text('Company')
											$('#identRepName').text(data.identity.strRepresentativeFirstName + ' ' + data.identity.strRepresentativeLastName) 
										}
										else{
											$('#identType').text('Personal')
											$('#identRepName').parents('dl.row').empty();
										}
										$('#identAddress').text(data.identity.strAddress)
										$('#identRegister').text(data.identity.datDateRegistered)
										$('#identIDType').text(data.identity.strIDType)
										$('#identIDNumber').text(data.identity.strIDNumber)
										$('#identityModal').off('shown.bs.modal')
													
									})								
									$('#identityModal').modal('toggle');
									$('#receiveModal').off('hidden.bs.modal')
								});
								$('#receiveModal').modal('hide')
								//- continue or cancel identity
								$(document).on('click', '#cancelIdentity', function(){
									$('#identityModal').modal('toggle');
									$(document).off('click', '#cancelIdentity')
								})
								$(document).on('click', '#continueIdentity', function(){
									$('#strConsignmentCode').val(strConsignmentCode);
									$('#codeForm').submit();
									$(document).off('click', '#continueIdentity')
									
								})
							}
						})
					});
					Instascan.Camera.getCameras().then(function (cameras) {
						if (cameras.length > 0) {
							scanner.start(cameras[0]);
						}
					});
					
					$('#receiveModal').on('hide.bs.modal', function () {
						
						scanner.stop();
						$(document).off('click', '#manualReceive')
						$('#receive').empty();
						var appendItem = $(`<div id="fieldReceive">
											<video id="qrscanner" width="400px" style="border: 3px solid blue;"></video>
											</div><br/>
											<div id="linkReceive"><a id="manualReceive" class="card-link red font-small-3 pt-2"><span><strong>QR code cannot be recognized? </strong><br/>Use manual receiving instead.</span></a></div>`)
						$('#receive').append(appendItem).hide().fadeIn(100);
						$(document).off('click', "#consignmentCodeButton");					
						
					});

					$(document).on('click', '#manualReceive', function(){
						
						$.when($('#manualReceive').fadeOut(500,function(){
								$(document).on('click', '#qrReceive', function(){
									$(document).off('click', '#qrReceive');
									$('#receive').empty();
									var appendItem = $(`<div id="fieldReceive">
														<video id="qrscanner" width="400px" style="border: 3px solid blue;"></video>
														</div><br/>
														<div id="linkReceive"><a id="manualReceive" class="card-link red font-small-3 pt-2"><span><strong>QR code cannot be recognized? </strong><br/>Use manual receiving instead.</span></a></div>`)
									$('#receive').append(appendItem).hide().fadeIn(100);

									$('#receiveModal').on('hidden.bs.modal', function () {
										$('#receiveModal').modal('toggle');
										$('#receiveModal').off('hidden.bs.modal')

									});
									$('#receiveModal').modal('toggle');
									
								})
						})).then(function(){
							$('#qrscanner').fadeOut(500, function(){
								scanner.stop()
								var appendItem = $(`<fieldset>
													<div class="input-group">
														<input type="text" id="consignmentCode" name="consignmentCode" placeholder="Enter the Consignment Code here" aria-describedby="button-addon2" class="form-control"/>
														<div class="input-group-append">
														<button id="consignmentCodeButton" type="button" class="btn btn-success">Go</button>
														</div>
													</div>
													</fieldset>`)
								var appendLink = $(`<a id="qrReceive" class="card-link red font-small-3 pt-2"><span> <strong>Use Consignment QR Code Scanner instead.</strong></span></a>`)
								$('#fieldReceive').append(appendItem).hide().fadeIn(500);
								$('#linkReceive').append(appendLink).hide().fadeIn(500);

								$(document).on('click', '#consignmentCodeButton', function(){
									let strConsignmentCode = $("#consignmentCode").val();

									$.post('/identityrequest/auction', {
										strConsignmentCode: strConsignmentCode,
									}).done(function(data){
										scanner.stop();
										if(data == 'none'){
											swal({
												title: 'No consignment found!',
												text: 'Your consignment code is invalid. Please check your code and try again.',
												icon: 'error',
												button: 'Okay'
											})
										}
										else{
											$('#receiveModal').on('hidden.bs.modal', function(){
												$("#identityModal").on('shown.bs.modal', function(){
													console.log('shown')
													var idPic = $(`<input id="IDentity", class="dropify", data-default-file='/assets/uploads/${data.identity.strIDPicture}' disabled type='file', data-height="200" name='proof' accept='image/*' data-allowed-file-extensions="jpeg jpg png"/>`)				
													$.when($(`#idField`).append(idPic)).then(function(){
														$('#IDentity').dropify({
															allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
															messages: {
																'default': 'Drag and drop an image here or click',
																'replace': 'Drag and drop or click to replace',
																'remove': 'Remove',
																'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
															},
															error: {
																'fileSize': 'The file size is too big (1M max).',
																'fileFormat': 'The file format is not allowed ({{ value }} only).'
															}
														});
													})

													//-put value
													console.log(data.identity.strIDType)
													$('#identName').text(data.identity.strName)
													$('#identNumber').text(data.identity.intConsignorID)
													if(data.identity.booConsignorType == 0){//company
														$('#identType').text('Company')
														$('#identRepName').text(data.identity.strRepresentativeFirstName + ' ' + data.identity.strRepresentativeLastName) 
													}
													else{
														$('#identType').text('Personal')
														$('#identRepName').parents('dl.row').empty();
													}
													$('#identAddress').text(data.identity.strAddress)
													$('#identRegister').text(data.identity.datDateRegistered)
													$('#identIDType').text(data.identity.strIDType)
													$('#identIDNumber').text(data.identity.strIDNumber)
													$('#identityModal').off('shown.bs.modal')
													
												})								
												$('#identityModal').modal('toggle');
												$('#receiveModal').off('hidden.bs.modal')
											});
											$('#receiveModal').modal('hide')
											//- continue or cancel identity
											$(document).on('click', '#cancelIdentity', function(){
												$('#identityModal').modal('toggle');
												$(document).off('click', '#cancelIdentity')
											})
											$(document).on('click', '#continueIdentity', function(){
												$('#strConsignmentCode').val(strConsignmentCode);
												$('#codeForm').submit();
												$(document).off('click', '#continueIdentity')
												
											})
										}
									})
								})
								
							})
						})
					})
				})


			})
		
		script.
			$(document).ready(function(){
				signupValidation()
				$('#consignmentTable').dataTable();


				$(document).on('click', '#applyButton', function(){
					$('#logInModal').modal('toggle');
					$('#logInModal').on('hidden.bs.modal', function(event){
						$('#signUpModal').modal('toggle');
						$('#logInModal').off('hidden.bs.modal')	
					})	
				})

				$(document).on('click', '.dropify-clear', function(){
					$('#requirements').formValidation('revalidateField', 'proof');
				})


				
				
				//- iCheck JS
				$('.checkie').iCheck({
					checkboxClass: 'icheckbox_flat-blue',
					radioClass: 'iradio_flat-blue'
				});
				$('#agree').iCheck({
					checkboxClass: 'icheckbox_flat-blue',
				});

				$('#agree').on('ifChecked', function(event){
					$('#agreement').find('#errorfieldAgree').val('yes').end();
					$('#agreement').formValidation('revalidateField', 'errorfieldAgree')
				});

				$('#agree').on('ifUnchecked', function(event){
					$('#agreement').find('#errorfieldAgree').val('').end();
					$('#agreement').formValidation('revalidateField', 'errorfieldAgree')
				});

				//Formatter JS
				$('.phone').formatter({pattern:"(+63) {{999}} {{999}}-{{9999}}"})
				$('.telephone').formatter({pattern:"{{999}}-{{9999}}"})

				$('#personalID').select2({
					width: 'resolve',
				});

				//Wizard Reset everytime modal closes
				

				

				//dropify
				$('#proof').dropify({
					allowedFiles: ['png', 'jpg', 'jpeg', 'gif', 'bmp'],
					messages: {
						'default': 'Drag and drop an image here or click',
						'replace': 'Drag and drop or click to replace',
						'remove': 'Remove',
						'error': 'Ooops, you can only upload JPG, JPEG, and PNG files.'
					},
					error: {
						'fileSize': 'The file size is too big (1M max).',
						'fileFormat': 'The file format is not allowed ({{ value }} only).'
					}
				});
				
				hiddenModal();

				$('.checkie').on('ifClicked', function(event){
					if($(this).attr("val") == 'company'){
						$('#profilePersonal').fadeOut(500, function(){
							$('#profileCompany').fadeIn(500)
							$('#idNumberField').removeClass('col-md-12').addClass('col-md-6')													
							$('#idBusinessField').fadeIn(500)
							$('#requirements').data('formValidation').destroy()
							requirementValidation();

						})
					}
					if($(this).attr("val") == 'personal'){
						$('#profileCompany').fadeOut(500, function(){
							$('#profilePersonal').fadeIn(500)
							$('#idBusinessField').fadeOut(500)
							$('#idNumberField').removeClass('col-md-6').addClass('col-md-12')
							$('#requirements').data('formValidation').destroy()
							requirementValidation();
							
							
						})
					}
				})//IfClicked Function iCheck

				

				
			})


		// END PAGE LEVEL JS



	
		