doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		// favicon
		link(rel='shortcut icon', href='/assets/shopmade/images/favicon.ico')
		title Shop Made - A Modern, Minimalist eCommerce Theme 
		// Google Fonts
		link(href='/assets/css/fonts2.css', rel='stylesheet')
		// Fonts for icons
		link(href='/assets/shopmade/css/font-awesome.min.css', rel='stylesheet')
		// bootstrap
		link(href='/assets/shopmade/css/bootstrap.css', rel='stylesheet')
		// Styles CSS
		link(href='/assets/shopmade/css/style.css', rel='stylesheet')
		// Animate CSS
		link(href='/assets/shopmade/css/aos.css', rel='stylesheet')
		link(href='/assets/odometer/themes/odometer-theme-train-station.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='/assets/vendors/css/formValidation.css')

		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		style.
			#grad1 {
				background: red;
				background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
				background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
				background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
				background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 1.5vw;
			}
			.form-control-feedback.fv-icon-no-label.fa.fa-times{
				margin-top: 13px;
				margin-left: -16px;
				color: red;
			}
			.form-control-feedback.fv-icon-no-label.fa.fa-check{
				margin-top: 13px;
				margin-left: -20px;
				color: green;
			}

			.help-block{
				display: inline;
				top: -263px;
				position: relative;
				left: 81px;
				color: red;
			}
			.small, small {
				font-size: 54%;
				font-weight: 400;
			}

	body
		#main-content.m-scene
			// Header
			nav.navbar.navbar-toggleable-md.px-5-percent
				.full-width-container
					button.navbar-toggler.navbar-toggler-right.hamburger-menu-btn.ml-auto(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
						span toggle menu
					a.navbar-brand(href='index.html')
						img(src='/assets/shopmade/images/logo.png', width='162', height='45', alt='Logo')
					#navbarNavDropdown.collapse.navbar-collapse
						ul.navbar-nav.ml-auto
							li.active
								a.dropdown-toggle(href='index.html', data-toggle='dropdown') Home
								ul.dropdown-menu
									li
										a(href='index.html') Main Homepage
									li
										a(href='landing-page.html') Landing Page
									li
										a(href='home-2.html') Home 1
									li
										a(href='home-3.html') Home 2
									li
										a(href='home-4.html') Home 3
							li
								a.dropdown-toggle(href='#', data-toggle='dropdown') Pages
								ul.dropdown-menu
									li
										a.dropdown-toggle(href='about-us.html', data-toggle='dropdown') About
										ul.dropdown-menu
											li
												a(href='about-us.html') About Us
											li
												a(href='page-about-us-2.html') About Us 2
									li
										a.dropdown-toggle(href='page-services.html', data-toggle='dropdown') Services
										ul.dropdown-menu
											li
												a(href='page-services.html') Services
											li
												a(href='page-services-2.html') Services page 2
									li
										a.dropdown-toggle(href='page-contact-map.html', data-toggle='dropdown') Contact
										ul.dropdown-menu
											li
												a(href='page-contact-map.html') Contact Map 1
											li
												a(href='page-contact-map-2.html') Contact Map 2
							li.mega_menu_holder
								a.dropdown-toggle(href='#', data-toggle='dropdown') Portfolio
								ul.dropdown-menu.mega_menu
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown') Outside Titles
										ul.dropdown-menu
											li
												a(href='portfolio-outside-title-wide-2col-grid.html') Grid Two Colunms
											li
												a(href='portfolio-outside-title-wide-3col-grid.html') Grid Three Colunms
											li
												a(href='portfolio-outside-title-wide-4col-grid.html') Grid Four Colunms
											li.dropdown-divider
											li
												a(href='portfolio-outside-title-2col-masonry.html') Masonry Two Colunms
											li
												a(href='portfolio-outside-title-3col-masonry.html') Masonry Three Colunms
											li
												a(href='portfolio-outside-title-4col-masonry.html') Masonry Four Colunms
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown') Grid Inside Titles
										ul.dropdown-menu
											li
												a(href='portfolio-inside-title-wide-2col-grid.html') Grid Two Colunms
											li
												a(href='portfolio-inside-title-wide-3col-grid.html') Grid Three Colunms
											li
												a(href='portfolio-inside-title-wide-4col-grid.html') Grid Four Colunms
											li.dropdown-divider
											li
												a(href='portfolio-inside-title-2col-masonry.html') Masonry Two Colunms
											li
												a(href='portfolio-inside-title-3col-masonry.html') Masonry Three Colunms
											li
												a(href='portfolio-inside-title-4col-masonry.html') Masonry Four Colunms
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown') Single Portfolio
										ul.dropdown-menu
											li
												a(href='single-portfolio-small-images.html') Small Images
											li
												a(href='single-portfolio-small-gallery.html') Small Gallery
											li
												a(href='single-portfolio-small-masonry.html') Small Masonry
											li
												a(href='single-portfolio-small-slider.html') Small Slider
											li.dropdown-divider
											li
												a(href='single-portfolio-big-images.html') Big Images
											li
												a(href='single-portfolio-big-gallery.html') Big Gallery
											li
												a(href='single-portfolio-big-masonry.html') Big Masonry
											li
												a(href='single-portfolio-big-slider.html') Big Slider
							li
								a.dropdown-toggle(href='#', data-toggle='dropdown') Blog
								ul.dropdown-menu
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown') Blog Style
										ul.dropdown-menu
											li
												a(href='blog-grid.html') Blog Grid
											li
												a(href='blog-standard.html') Stander Blog
											li
												a(href='blog-single-post.html') Blog Single Psot
											li
												a(href='blog-cards.html') Cards Blog
											li
												a(href='#') About
									li.dropdown-divider
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown') Single Post Style
										ul.dropdown-menu
											li
												a(href='blog-single-post.html') Stander Single Post
											li
												a(href='blog-post-single-gallery.html') Gallery Post
											li
												a(href='blog-post-single-video.html') Video Post
											li
												a(href='blog-post-single-audio.html') Audio Post
							li
								a.dropdown-toggle(href='#', data-toggle='dropdown') Shop
								ul.dropdown-menu
									li
										a(href='shop-full-width.html') Shop
									li
										a(href='shop-right-sidebar.html') Shop Right Sidebar
									li
										a(href='shop-left-sidebar.html') Shop Left Sidebar
									li.dropdown-divider
									li
										a(href='single-product.html') Shop Single Product
							li.mega_menu_holder
								a.dropdown-toggle(href='#', data-toggle='dropdown') Elements
								ul.dropdown-menu.mega_menu
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown')
										ul.dropdown-menu
											li
												a(href='elements-accordions.html') Accordions
											li
												a(href='elements-banner.html') Banner
											li
												a(href='elements-blockquote.html') Blockquote
											li
												a(href='elements-blog-post.html') Blog Post
											li
												a(href='elements-buttons.html') Buttons
											li
												a(href='elements-call-to-action.html') Call To Action
											li
												a(href='elements-clients.html') Clients
											li
												a(href='elements-columns.html') Columns
											li
												a(href='elements-contact-form.html') Contact Form
											li
												a(href='elements-countdown.html') Countdown
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown')
										ul.dropdown-menu
											li
												a(href='elements-counters.html') Counters
											li
												a(href='elements-dropcaps.html') Dropcaps
											li
												a(href='elements-google-maps.html') Google Maps
											li
												a(href='elements-headings.html') Headings
											li
												a(href='elements-highlights.html') Highlights
											li
												a(href='elements-icon-content-box.html') Icon Content Box
											li
												a(href='elements-image-content-box.html') Image Content Box
											li
												a(href='elements-lists.html') Lists
											li
												a(href='elements-numbered-process.html') Numbered Process
											li
												a(href='elements-pricing-table.html') Pricing Table
									li
										a.dropdown-toggle(href='#', data-toggle='dropdown')
										ul.dropdown-menu
											li
												a(href='elements-progress-bar.html') Progress Bar
											li
												a(href='elements-slider.html') Slider
											li
												a(href='elements-social-icons.html') Social Icons
											li
												a(href='elements-tables.html') Tables
											li
												a(href='elements-tabs.html') Tabs
											li
												a(href='elements-team.html') Team
											li
												a(href='elements-typography.html') Typography
											li
												a(href='elements-testimonials.html') Testimonials
							li
								a(href='#')
									i.fa.fa-search(aria-hidden='true')
							li
								a(href='#')
									i.fa.fa-shopping-bag(aria-hidden='true')
								span.counter-shop-box 2
			// End Header
			.page-container.scene-main.scene-main--fade_In
				// main page
				.etcodes_breadcrumb.bg-grey-light.mx-5-percent
					.fluid-container
						.row
							.col-md-12
								.breadcrumbs
									span.first-item
										a(href='#') Home
									span.separator /
									span
										a(href='#') Profile
									span.separator /
									span
										a(href='#') Awards
									span.separator /
									span.last-item Order##{dataRes.intOrderID}
				.fluid-container.px-5-percent.single-product-content
					.container.mt_70.mb_50
						.col.md-12
							.row
								h4 Order##{dataRes.intOrderID}
							.row
								.col-md-12
									-if(dataRes)
										-if(dataRes.booSIStatus == 1)
											.progress
												.progress-bar.bg-grey-darker(role='progressbar', style='width: 33%', aria-valuenow='33', aria-valuemin='0', aria-valuemax='100') Processing
										-if(dataRes.booSIStatus == 2)
											.progress
												.progress-bar.bg-grey-darker(role='progressbar', style='width: 66%', aria-valuenow='66', aria-valuemin='0', aria-valuemax='100') Shipping
										-if(dataRes.booSIStatus == 3)
											.progress
												.progress-bar.bg-grey-darker(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100') Delivered
							.row
								.col-md-7
									.row
										.col-md-12
											br
											table.table(style="font-size: 12px")
												thead
													tr
														th Quantity
														th
														th Item
														th Hammer Price
														th Buyer's Premium
														th Total
												tbody#awardTable
													
									hr(style="border-top: 1px solid black")
									.row
										.col-md-12
											h6(style='font-weight: bold') Total Summary
									.row
										.col-md-12
											table.table
												tr
													th
														p(style='font-size: 14px')  Subtotal (
															span#itemQ
															|  Item/s)
													td
														p#receiptHammerPrice(style="text-align: justify; font-size: 14px") P121.00
												tr
													th
														p(style='font-size: 14px') Buyer's Premium
													td
														p#receiptBuyersPremium(style="text-align: justify; font-size: 14px") P121.00
												tr
													th
														p(style='font-size: 16px') Total
													td
														p#receiptTotal(style="text-align: justify; font-size: 16px; font-weight: bold; color: green") P121.00

								.col-md-5
									<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
										<div class="card">
											<div class="card-header" role="tab" id="headingOne">
												<h5 class="mb-0"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Status Description
												</a></h5>
											</div>
											<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
												<div class="card-block">
													table.table
														tbody#statusTable
															
												</div>
											</div>
										</div>
									</div>
									br
									hr(style="border-top: 1px solid black")
									
									.row
										.col-md-12
											h4.align-left(style="color: #aec6cf") Shipping Address
									.row
										.col-md-8
											h5#shippingName  
									.row
										.col-md-12
											p(style='font-size: 14px;')#shippingAddress 
											p(style='font-size: 14px;')#shippingContact 
																				


					
				// main page end
				.px-5-percent
					footer
						.footer_container
							.fluid-container
								.row.align-items-center
									.col-lg-4
										p
											| © 2017 Energetic Themes
									.col-lg-4
										ul.footer_nav.align-center
											li
												a(href='portfolio-outside-title-wide-2col-grid.html', target='blank', title='portfolio') Portfolio
											li
												a(href='blog-grid.html', target='blank', title=' blog') Blog
											li
												a(href='shop-full-width.html', target='blank', title='shop') Shop
											li
												a.color.youtube(href='elements-accordions.html', target='blank', title='elements') Elements
									.col-lg-4.align-right
										ul.list-inline
											li
												a(href='https://www.facebook.com/energeticthemes')
													i.fa.fa-facebook(aria-hidden='true')
											li
												a(href='https://instagram.com/energeticthemes')
													i.fa.fa-instagram(aria-hidden='true')
											li
												a(href='https://behance.com/energeticthemes')
													i.fa.fa-behance(aria-hidden='true')
											li
												a(href='https://twitter.com/energeticthemes')
													i.fa.fa-twitter(aria-hidden='true')
		-if(auction)
			input#datDateEnd(type='hidden' name='datDateEnd' value=auction.datDateEnd)
			input#auctionName(type='hidden' name='datDateEnd' value=auction.strAuctionName)
		-else
			input#datDateEnd(type='hidden' name='datDateEnd' value='')
			input#auctionName(type='hidden' name='datDateEnd' value='')
		// ==================================================
		// Placed js files at the end of the document so the pages load faster
		script(src='/socket.io/socket.io.js')

		script(type='text/javascript', src='/assets/shopmade/js/jquery.min.js')
		script(src='/assets/shopmade/js/bootstrap.min.js')
		script(type='text/javascript', src='/assets/shopmade/js/plugins.min.js')
		script(type='text/javascript', src='/assets/shopmade/js/jquery.smoothState.min.js')
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyAE_JprYsi2sHzUcl8u1DbcUgQnDveJWs4')
		script(type='text/javascript', src='/assets/shopmade/js/main.js')
		script(type='text/javascript', src='/assets/odometer/odometer.js')
		script(src='/assets/vendors/js/formValidation.js', type='text/javascript')
		script(src='/assets/vendors/js/bootstrap.min.js', type='text/javascript')
		script.
			$(document).ready(function(){
				var intSalesInvoiceID = !{JSON.stringify(intSalesInvoiceID)}
				var checkouttotal;
				var awards;

				$.post('/bid/shippingaddress').then(function(data){
					if(data.indicator){
						var addressBook = data.addressBook;
						$('#shippingName').text(addressBook.strFullname);
						$('#shippingAddress').text(addressBook.strHouseAddress+', '+addressBook.strBarangay+', '+addressBook.strCity+', '+addressBook.strRegion+'~'+addressBook.strPostcode);
						$('#shippingContact').text(addressBook.strPhoneNumber);
					}	
					else{
						$('#addressModal').modal('toggle')
						$.get('/bid/address/get').then(function(data){

							if(data.indicator){

								for(var i = 0; i < data.address.length; i++){
									var address = data.address[i]

									if(address.booDefault == 0){
										var addressRow = $(`
														<tr>
														<td>${address.strFullname}</td>
														<td>${address.strHouseAddress}</td>
														<td>${address.strBarangay}, ${address.strCity}, ${address.strRegion}, ${address.strPostcode}</td>
														<td>${address.strPhoneNumber}</td>
														<td><span class="badge badge-glow badge-pill defaulterno" addressid="${address.intAddressBookID}">Default</span></td>
														</tr>`)
									}
									else if(address.booDefault == 1){
										var addressRow = $(`
														<tr>
														<td>${address.strFullname}</td>
														<td>${address.strHouseAddress}</td>
														<td>${address.strBarangay}, ${address.strCity}, ${address.strRegion}, ${address.strPostcode}</td>
														<td>${address.strPhoneNumber}</td>
														<td><span class="badge badge-glow badge-pill defaulteryes" addressid="${address.intAddressBookID}">Default</span></td>
														</tr>`)

									}
									$('#addressTable').append(addressRow).hide().fadeIn(500);
								}
							}

						})
					}
				})

				$.post('/bid/status', {
					intSalesInvoiceID: intSalesInvoiceID,
				}).then(function(data){
					if(data.indicator){
						for(var i = 0; i < data.statuses.length; i++){
							var status = data.statuses[i];
							var row = $(`<tr>
										<th style="font-size: 12px;">${status.datDateChange}</th>
										<td style="font-size: 12px;">${status.Comment}</td>
										</tr>`)
							$('#statusTable').append(row);
						}
					}					
				})

				$.post('/bid/checkout/items', {
					intSalesInvoiceID: intSalesInvoiceID,
				}).then(function(data){
					if(data.indicator){
						awards = data.awards;
						utilities = data.utilities;
						var checkoutbidprice = 0;
						var checkoutbuyerspremium = 0;
						checkouttotal = 0;					
						$('#itemQ').text(awards.length)
						
						for(var i = 0; i < awards.length; i++){
							var award = awards[i];
							console.log(award)
							
							if(award.info.hasOwnProperty('strItemID')){
								award.info.jsonOtherSpecifications = JSON.parse(award.info.jsonOtherSpecifications);
								if(award.info.jsonOtherSpecifications.hasOwnProperty('Screensize'))
									if(!award.info.jsonOtherSpecifications.Screensize.indexOf('Screensize'))
										award.info.jsonOtherSpecifications['Screensize'] = award.info.jsonOtherSpecifications['Screensize']+' inches';						
								if(award.info.jsonOtherSpecifications.hasOwnProperty('Wattage'))
									if(award.info.jsonOtherSpecifications.Wattage.indexOf('watts') < 0)
										award.info.jsonOtherSpecifications['Wattage'] = award.info.jsonOtherSpecifications['Wattage']+' watts';
								if(award.info.jsonOtherSpecifications.hasOwnProperty('Storage') && award.info.jsonOtherSpecifications.category == "Mobile")
									if(!award.info.jsonOtherSpecifications.Storage.indexOf('Storage'))
										award.info.jsonOtherSpecifications['Storage'] = award.info.jsonOtherSpecifications['Storage']+' GB';
								if(award.info.jsonOtherSpecifications.hasOwnProperty('Ram'))
									if(!award.info.jsonOtherSpecifications.Ram.indexOf('RAM'))
										award.info.jsonOtherSpecifications['Ram'] = 'RAM '+award.info.jsonOtherSpecifications['Ram']+' GB';
								var valuesOnly = Object.values(award.info.jsonOtherSpecifications)//array values
								var desc = award.info.jsonOtherSpecifications.Item+' ' 
								for(var l = 1; l < valuesOnly.length; l++){
									desc = desc+' '+valuesOnly[l]
								}
								var percentBuyersPremium = (data.utilities.dblBuyersPremium).toFixed(2);
								var buyersPremium = (award.dblBidPrice * percentBuyersPremium).toFixed(2);
								var rowAward = $(`<tr style="font-weight: bold">
													<td>${award.intSIDQty}</div>												
													<td><img src="/assets/uploads/${award.info.strPicture}" width="100px"/></td>												
													<td>${desc}</td>
													<td class='bidPrice' id="bidPrice${award.info.strItemID}" value="${(award.dblBidPrice).toFixed(2)}">${(award.dblBidPrice).toFixed(2) * award.intSIDQty}</td>
													<td class='buyersPremium' id="buyersPremium${award.info.strItemID}" value="${(buyersPremium)}">${(buyersPremium) * award.intSIDQty}</td>
													<td class='total' id="total${award.info.strItemID}" value="${(parseFloat(award.dblBidPrice) + parseFloat(buyersPremium)).toFixed(2)}">${((parseFloat(award.dblBidPrice) + parseFloat(buyersPremium)).toFixed(2)) * award.intSIDQty}</td>
												</tr>`)
								$('#awardTable').append(rowAward);
								
							}
							if(award.info.hasOwnProperty('intBundleID')){


								var percentBuyersPremium = (data.utilities.dblBuyersPremium).toFixed(2);
								var buyersPremium = (award.dblBidPrice * percentBuyersPremium).toFixed(2);
								var rowAward = $(`<tr>
													<td class="align-center">1</div>
													<td><img src="/assets/uploads/${award.info.strBundlePicture}" width="100px"/></td>
													<td>${award.info.strBundleTitle}</td>
													<td class='bidPrice' id="bidPrice${award.info.intBundleID}" value="${(award.dblBidPrice).toFixed(2)}">${(award.dblBidPrice).toFixed(2)}</td>
													<td class='buyersPremium' id="buyersPremium${award.info.intBundleID}" value="${(buyersPremium)}">${(buyersPremium)}</td>
													<td class='total' id="total${award.info.intBundleID}" value="${(parseFloat(award.dblBidPrice) + parseFloat(buyersPremium)).toFixed(2)}">${(parseFloat(award.dblBidPrice) + parseFloat(buyersPremium)).toFixed(2)}</td>
												</tr>`)
								$('#awardTable').append(rowAward);	
							}	
									


							if(i==awards.length-1){

								$('.bidPrice').map(function(index, e){
									checkoutbidprice += parseFloat($(this).text())
									if(index == $('.bidPrice').length - 1){
										$('#receiptHammerPrice').text('₱'+(checkoutbidprice).toFixed(2))								

									}
								})

								$('.buyersPremium').map(function(index, e){
									checkoutbuyerspremium += parseFloat($(this).text())
									if(index == $('.buyersPremium').length - 1){
										$('#receiptBuyersPremium').text('₱'+(checkoutbuyerspremium).toFixed(2))

									}
								})

								$('.total').map(function(index, e){
									checkouttotal += parseFloat($(this).text())
									if(index == $('.total').length - 1){
										$('#receiptTotal').text('₱'+(checkouttotal).toFixed(2))

									}
								})
							}
							
						}
					}
				})
			})

			
	// Mirrored from www.energeticthemes.com/templates/shopmade/single-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Aug 2018 16:37:50 GMT
